* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a:link, a:visited, ins { text-decoration: none; }
img{border:none}

body { background-color: #FFFFFF; font-family: "微软雅黑", "宋体", "黑体", Arial; }
.header { position: relative; height: 90px; background: url(../images/line-solid.gif) repeat-x bottom; margin: 0 auto; z-index: 100; }

.menu { height: 40px; background: url(../images/menu_bg_1.gif) no-repeat -99px bottom; z-index: 100; background-position: 0px 100%; position: absolute; top:20px; right: 0; padding-right: 1px; }
.menu li { float: left; font-size: 14px; text-align: center; line-height: 18px; padding: 0; }
.menu li.lihover, .menu li.licurrent { padding-bottom: 15px; border-bottom: 3px solid #FE7700; }
.menu li a { padding: 2px 35px; border-right: 1px solid #D7D7D7; color: #242424; font-weight: bold; margin: 0; border-left: none; display: inline-block; font-size: 14px; }
.menu li a.noborder { border-right: none; }
.li_3 { position: relative; z-index: 100; }
.li_3 a.noclick { }
.li_3_content { position: absolute; top: 20px; left: 0px; line-height: 40px; z-index: 99; display: none; height: 188px; *top: 18px; width: 130px; }
.li_3_content a:hover { color: #f18336 !important; }
.li_3_content dt { height: 17px; border-bottom: 3px solid #FE7700; *height: 19px; line-height: 17px; }
.li_3_content dd { border-left: 1px solid #E6E4E3; border-right: 1px solid #E6E4E3; padding: 0 8px; background: #ffffff url(../images/menu.gif) no-repeat bottom; }
.li_3_content dd a { text-align: center; padding: 0; border-right: none; color: #666; font-weight: normal; width: auto; }
.li_3_content dd.lastItem { background-image: none; border-bottom: 1px solid #E6E4E3; }
.li_3_content dd.lastItem a { border-bottom: none; }

.miui_logo { position: absolute; top: 29px; left: 0; }
.language { position: absolute; right: 0; top: 10px; line-height: 20px; height: 20px; font-size: 12px; color: #6D6D6D; text-align: right; }
.language span { color: #A6A6A6; padding: 0 3px; }
.language a { color: #A6A6A6; }
.language a:hover { text-decoration: underline; }