<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('store')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/store.css"/>
    <link rel="stylesheet" href="__CSS__/app.css"/>
    <style>
        header {
            text-align: center;
        }

        header h1 {
            font-size: 200%;
            color: #333;
            margin-bottom: 0px;
        }

        header p {
            font-size: 14px;
        }
    </style>
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default am-header-fixed">


    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1);"><span class="am-icon-chevron-left"></span></a>
        <a href="#phone-link" class="">
            <i class="am-header-icon am-icon-bell-o"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        我的订单
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="#nav-link" class="">
            <i class="am-menu-toggle-icon am-icon-bars"></i>
        </a>
    </div>
</header>


<div class="sold-container ">

<div class="am-tabs" id="doc-my-tabs">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify"style="font-size: 13px">
        <li class="am-active"><a href="">待付款</a></li>
        <li><a href="">待发货</a></li>
        <li><a href="">待评价</a></li>
        <li><a href="">已完成</a></li>
    </ul>
    <div class="am-tabs-bd">
        <div class="am-tab-panel am-active">
            <div class="sold-list-box">
                <ul class="sold-list">
                    <php>for($i=1;$i<10;$i++){</php>
                    <li class="sold-box">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <div class="am-g">
                                    <div class="am-u-sm-6 am-text-left"><input type="checkbox"><span>订单号：568</span></div>
                                    <div class="am-u-sm-6 am-text-right"><span>买家：<a href="">nice</a></span></div>
                                </div>
                            </div>
                            <div class="am-panel-bd">
                                <div class="sold am-g">
                                    <ul>
                                        <li class="goods-avatar ">
                                            <img src="Application/Mob/Static/test/551931edeecf0.jpg">
                                        </li>
                                        <li class="goods-info">
                                            <h5 class="goods-name">足球小将同款</h5>

                                            <p>实付款：¥70.00</p>

                                            <p>共一件</p>

                                            <p>已发货</p>


                                        </li>
                                    </ul>
                                    <div class="am-g o-btn-box">
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <php>}</php>
                </ul>
            </div>
        </div>
        <div class="am-tab-panel">
            <div class="sold-list-box">
                <ul class="sold-list">
                    <php>for($i=1;$i<10;$i++){</php>
                    <li class="sold-box">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <div class="am-g">
                                    <div class="am-u-sm-6 am-text-left"><input type="checkbox"><span>订单号：568</span></div>
                                    <div class="am-u-sm-6 am-text-right"><span>买家：<a href="">nice</a></span></div>
                                </div>
                            </div>
                            <div class="am-panel-bd">
                                <div class="sold am-g">
                                    <ul>
                                        <li class="goods-avatar ">
                                            <img src="Application/Mob/Static/test/551931edeecf0.jpg">
                                        </li>
                                        <li class="goods-info">
                                            <h5 class="goods-name">足球小将同款</h5>

                                            <p>实付款：¥70.00</p>

                                            <p>共一件</p>

                                            <p>已发货</p>


                                        </li>
                                    </ul>
                                    <div class="am-g o-btn-box">
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <php>}</php>
                </ul>
            </div>
        </div>
        <div class="am-tab-panel">
            <div class="sold-list-box">
                <ul class="sold-list">
                    <php>for($i=1;$i<10;$i++){</php>
                    <li class="sold-box">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <div class="am-g">
                                    <div class="am-u-sm-6 am-text-left"><input type="checkbox"><span>订单号：568</span></div>
                                    <div class="am-u-sm-6 am-text-right"><span>买家：<a href="">nice</a></span></div>
                                </div>
                            </div>
                            <div class="am-panel-bd">
                                <div class="sold am-g">
                                    <ul>
                                        <li class="goods-avatar ">
                                            <img src="Application/Mob/Static/test/551931edeecf0.jpg">
                                        </li>
                                        <li class="goods-info">
                                            <h5 class="goods-name">足球小将同款</h5>

                                            <p>实付款：¥70.00</p>

                                            <p>共一件</p>

                                            <p>已发货</p>


                                        </li>
                                    </ul>
                                    <div class="am-g o-btn-box">
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <php>}</php>
                </ul>
            </div>
        </div>
        <div class="am-tab-panel">
            <div class="sold-list-box">
                <ul class="sold-list">
                    <php>for($i=1;$i<10;$i++){</php>
                    <li class="sold-box">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <div class="am-g">
                                    <div class="am-u-sm-6 am-text-left"><input type="checkbox"><span>订单号：568</span></div>
                                    <div class="am-u-sm-6 am-text-right"><span>买家：<a href="">nice</a></span></div>
                                </div>
                            </div>
                            <div class="am-panel-bd">
                                <div class="sold am-g">
                                    <ul>
                                        <li class="goods-avatar ">
                                            <img src="Application/Mob/Static/test/551931edeecf0.jpg">
                                        </li>
                                        <li class="goods-info">
                                            <h5 class="goods-name">足球小将同款</h5>

                                            <p>实付款：¥70.00</p>

                                            <p>共一件</p>

                                            <p>已发货</p>


                                        </li>
                                    </ul>
                                    <div class="am-g o-btn-box">
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                        <a href="" class="o-btn"><span style="">现在发货</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <php>}</php>
                </ul>
            </div>
        </div>
    </div>
</div>




</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script>
    $(function() {
        $('#doc-my-tabs').tabs(3);
    })
</script>
</body>
</html>