<div class="right">
    <h3 class="common_block_title_right">热门店铺</h3>
    <php>
        $hot=S('store_hot_shop_sell');
        if(empty($hot1)){
        $items=D('Shop')->getLimit('status=1',5,'sell desc');

        foreach($items as $key=>$v)
        {
        $items[$key]['user']=query_user(array('nickname','space_url'),$v['uid']);
        $items[$key]['goodscount']=D('Info')->where('shop_id='.$v['id'].' and status=1')->count();
        }
        $hot=$items;
        S('store_hot_shop_sell',$hot,60);
        }

    </php>
    <ul>
        <volist name="hot" id="vo">
            <li>
                <div class="clearfix mb10">
                    <div class="col-xs-5">
                        <a target="_blank" href="{:U('store/Index/info',array('info_id'=>$vo['id']))}"><img
                                src="{:getThumbImageById($vo['logo'],80,80)}" style="width:80px;height: 80px"></a>
                    </div>
                    <div class="col-xs-7">
                        <div class="mb10 text-more" style="width: 100%">
                            <a target="_blank" href="{:U('store/Index/info',array('info_id'=>$vo['id']))}">{$vo.title|op_t}</a>
                        </div>
                        <div class="mb10">
                            商品数：<span class=" f14px">{$vo.goodscount}</span>
                        </div>
                        <div class="mb10">
                            总销量：{$vo.order_count}
                        </div>
                    </div>

                </div>
                <hr/>
            </li>
        </volist>
    </ul>
    <div class="clearfix"></div>
</div>
