@CHARSET "UTF-8";
body{
	padding-top:50px;
}
.navbar-inverse .navbar-inner {
	background: #fff;
}

body > .navbar .brand {
	background: url("../image/logo.png");
	text-indent: -99999;
	height: 30px;
    width: 185px;
	 margin-right: 45px;
}
.navbar .nav{
	margin-top: 15px;
}
.navbar-inverse .nav > li > a{
	color: #333;
    float: left;
    font-size: 16px;
    height: 26px;
    margin: 0 40px 0 0;
    text-shadow: none;
	padding: 0;
}

.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:focus {
    border-bottom: 4px solid #f77070;
	color: #333;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
     border-bottom: 4px solid #f77070;
	color: #333;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
	background-color: #fff;
    color: #111;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #111;
  border-bottom-color: #111;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #111;
  border-bottom-color: #111;
}

#focus {
    float: left;
    height: 270px;
    overflow: hidden;
    position: relative;
    width: 810px;
}
#focus ul {
    height: 810px;
    position: absolute;
}
#focus ul li {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 270px;
    overflow: hidden;
    position: relative;
    width: 810px;
}
#focus ul li .textinfo {
    float: left;
    height: 210px;
    margin: 30px;
    width: 340px;
}
#focus ul li .textinfo h2 {
    color: #333;
    float: left;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}
#focus ul li .textinfo span {
    color: #aaa;
    float: left;
    font-size: 13px;
    line-height: 36px;
    width: 100%;
}
#focus ul li .textinfo p {
    color: #333;
    float: left;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
}
#focus ul li .textinfo .a {
    color: #000;
    float: left;
    font-size: 13px;
    line-height: 40px;
    width: 100%;
}
#focus ul li .img {
    float: left;
    height: 270px;
    width: 405px;
}
#focus ul li .img img {
    float: left;
    height: 270px;
    width: 405px;
}
#focus .btnBg {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 246px;
}
#focus .btnn {
    height: 20px;
    padding: 5px 10px;
    position: absolute;
    right: 162px;
    text-align: right;
    top: 226px;
    width: 370px;
}
#focus .btnn span {
    background: url("../images/bottomNavON.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 13px;
    margin-left: 5px;
    width: 13px;
}
#focus .btnn span.on {
    background: url("./images/bottomNavON.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#focus .preNext {
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 130px;
    width: 45px;
}
#focus .pre {
    left: 0;
}
#focus .next {
    background-position: right top;
    right: 0;
}

.web_left{width:620px;background:#FFF;height:auto;overflow:hidden;border:solid 1px #b1b1b1;box-shadow:0 0 0 1px #FFFFFF inset, 0 0 5px 1px #c6c6c6;margin-bottom:20px;}
.web_left .user_info{vertical-align:middle; padding-left:20px; padding-top:7px; padding-bottom:0px;color:#B6B6B6;height:38px;background-color:#F5F5F5;}
.web_left .user_info li{float:left;}
.web_left .user_info li.user_name p{color:#777777;height:18px;margin-top:6px;margin-left:12px;margin-right:5px;}
.web_left .user_info .time{margin-top:6px;height:18px;color:#b5b5b5;}
.web_left .web_conter{height:auto;overflow:hidden;border-bottom:solid 0px #b2b2b2;padding:20px 20px;margin:0 auto;padding-bottom:0px;}
.p_times{color: #777777;float: right;font-size: 14px;line-height: 30px;margin-right: 10px;}
.web_left .web_conter .web_size{font-size:14px;color:#252525;line-height:20px;}
.web_left .web_conter .budejie_mutua{}
.web_left .budejie_share{width:215px;background:url('http://img.spriteapp.com/ws/www/img/share_bg.png') center center no-repeat;height:100px;position:absolute;display:none;border-radius:5px;}
.web_left .budejie_share a{float:left;height:30px;line-height:30px;vertical-align: middle;display:inline-block;margin-left:21px;margin-top:7px;padding-left:30px;cursor: pointer;}
.web_left .budejie_share a.weibo{background: url('http://img.spriteapp.com/ws/www/img/share_weibo.png') center left no-repeat ; }
.web_left .budejie_share a.renren{background: url('http://img.spriteapp.com/ws/www/img/share_renren.png') center left no-repeat; }
.web_left .budejie_share a.tqq{background: url('http://img.spriteapp.com/ws/www/img/share_qqweibo.png') center left no-repeat; }
.web_left .budejie_share a.qzone{background: url('http://img.spriteapp.com/ws/www/img/share_qzone.png') center left no-repeat;}

.web_left .budejie_mutual{text-align:center;height:80px;line-height:80px}
.web_left .budejie_mutual a{cursor:pointer;color:#6A6A6A;font-family:"微软雅黑";border:solid 1px #B7B7B7;padding:7px 10px 7px 8px;box-shadow:0 1px 2px #EEEEEE, 0 0 0 1px #FFFFFF inset;border-radius:5px 5px 5px 5px;*padding-right:7px!important;padding-right:7px\9;}
.web_left .budejie_mutual a:hover{background:#e6e6e6;}
.web_left .budejie_mutual li{float:left;margin-right:16px;}
.web_left .budejie_mutual_no{text-align:center;height:80px;line-height:80px}
.web_left .budejie_mutual_no a{color:#6A6A6A;font-family:"微软雅黑";border:solid 1px #B7B7B7;padding:7px 10px 7px 8px;box-shadow:0 1px 2px #EEEEEE, 0 0 0 1px #FFFFFF inset;border-radius:5px 5px 5px 5px;}
.web_left .budejie_mutual_no a:hover{}
.web_left .budejie_mutual_no li{float:left;margin-right:20px;}
.love span{background: url('http://img.spriteapp.com/ws/www/img/icon/ding.png') no-repeat;background-position:0px 1px;padding:5px 0px 5px 30px;color:#FFA303;}
.no_love span{background: url('http://img.spriteapp.com/ws/www/img/icon/no_ding.png') no-repeat;background-position:0px 1px;padding:5px 0px 10px 30px;}
.cai span{background: url('http://img.spriteapp.com/ws/www/img/icon/cai.png') no-repeat;background-position:0px 1px;padding:5px 0px 5px 30px;color:#FFA303;}
.no_cai span{background: url('http://img.spriteapp.com/ws/www/img/icon/no_cai.png') no-repeat;background-position:0px 1px;padding:5px 0px 5px 30px;}
.bookmark span{background: url('http://img.spriteapp.com/ws/www/img/icon/bookmark.png') no-repeat;background-position:4px 1px;padding:5px 12px 5px 12px;}
.no_bookmark span{background: url('http://img.spriteapp.com/ws/www/img/icon/no_bookmark.png') no-repeat;background-position:4px 1px;padding:5px 12px 5px 12px;}
.repost span{background: url('http://img.spriteapp.com/ws/www/img/icon/repost.png') no-repeat;padding:5px 0px 5px 30px;}
.review{}