<extend name="Base/common"/>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/question.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
            <div class="col-xs-12">
                <div class="common_block_border clearfix">
                    <div style="font-size: 16px;margin-left: 24px;">搜索：<span>{$search_keywords}</span></div>
                    <div class="question_list" style="padding:0 20px">
                        <notempty name="list">
                            <volist name="list" id="data">
                                <include file="Public/_default_list"/>
                            </volist>
                            <else/>
                            <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">没有搜索到问题~
                                    <a class="" href="{:U('question/index/edit',array('title'=>$search_keywords))}">
                                        <i class="icon-edit"></i> 提问
                                    </a>
                            </div>
                        </notempty>
                        <div class="text-right">
                            {:getPagination($totalCount,20)}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</block>