<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>{$Think.config.WEB_TITLE} - {$Think.config.WEB_NAME}</title>
<meta name="description" content="{$Think.config.WEB_DESRIPTION}" />
<meta name="keywords" content="{$Think.config.WEB_KEYWORDS}" />
<link rel="stylesheet" href="__PUBLIC__/Css/index.css" />
<include file='Common:headcommonindex'/>
<script type="text/JavaScript" src='__PUBLIC__/Js/qq_focus.js'></script>
<script type="text/JavaScript" src='__PUBLIC__/Js/tab.js'></script>
</head>
<body>
<include file='Common:nav'/>
<div class="indexFocusWrap">
  <div class="indexFocus">
    <div id="focus">
        <ul>
          <foreach name="focus" item="v">
            <li>
              <a href="/{$v.id}.html" title="{$v.title}" target="_blank" class="img"><img src="/Uploads/{$v['thumbnail']}" alt="" /></a>
              <div class="textinfo">
                <a href="/{$v.id}.html" title="{$v.title}"><h2>{$v.title}</h2></a>
                <span>已经有{$v.click}人看过~~</span>
                <p>{$v.summary}...</p>
                <a href="/{$v.id}.html" title="{$v.title}" class="a">+点击查看+</a>
              </div>
            </li>
          </foreach>
        </ul>
    </div> 
    <div class="tag">
      <h2>热门标签：</h2>
      <div class="taglist">
        {$Think.config.WEB_TAG}
      </div>
      <div class="share">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","tieba","douban"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","tieba","douban"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      </div>
      <h3>搞笑死了：www.gaoxiaosile.com</h3>
    </div>   
  </div>
</div>

<!-- <div class="indexAdWrap">
  <div class="indexAd">
    <div class="indexAdbox">
      <div class="indexAdLeft">
        <script type="text/javascript">
        var cpro_id = "u1621220";
        </script>
        <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
      </div>
      <div class="indexAdRight">
        <a href="/pic"><img src="/Public/Images/jiong.gif"/></a>
      </div>
    </div>
  </div>
</div> -->

<div class="indexWrap">
    <div class="index">
      <div class="indexLeft">
        <div class="indexLeftTitle"><a href="/pic" title="搞笑图片">搞笑图片</a></div>
          <ul class="indexCatalogUl">
            <foreach name="pic" item="v">
            <li>
              <a href="/{$v.id}.html" title="{$v.title}">
              <div class="hover"><img src="/Public/Images/look.png"/></div>
              <div class="text">{$v.title}</div>
              <img src="/Uploads/{$v['thumbnail']}"  class="img"/>
              </a>
            </li>
            </foreach>                        
          </ul>
      </div>
      <div class="indexRight">
        <div class="CatelogTab">
          <ul class="pageTab">
            <li id="tabpic1" onclick="setTab('tabpic',1,3)" class="hover">最热排行</li>
            <li id="tabpic2" onclick="setTab('tabpic',2,3)" class="">顶TOP</li>
            <li id="tabpic3" onclick="setTab('tabpic',3,3)" class="">踩TOP</li>
          </ul>
          <div id="con_tabpic_1" class="hover" style="display: block;">
              <ul class="pageTabBox">
              <foreach name="picclick" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabpic_2" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="picding" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabpic_3" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="piccai" item="v" title="{$v.title}">
              <li><a href="{:U('/'.$v['id'])}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div> 
      </div>
      </div>
    </div>
</div>


<div class="indexWrap">
    <div class="index">
      <div class="indexLeft">
        <div class="indexLeftTitle"><a href="/gif" title="搞笑GIF">搞笑GIF</a></div>
          <ul class="indexCatalogUl">
            <foreach name="gif" item="v">
            <li>
              <a href="/{$v.id}.html" title="{$v.title}">
              <div class="hover"><img src="/Public/Images/look.png"/></div>
              <div class="text">{$v.title}</div>
              <img src="/Uploads/{$v['thumbnail']}"  class="img"/>
              </a>
            </li>
            </foreach>                        
          </ul>
      </div>
      <div class="indexRight">
        <div class="CatelogTab">
          <ul class="pageTab">
            <li id="tabgif1" onclick="setTab('tabgif',1,3)" class="hover">最热排行</li>
            <li id="tabgif2" onclick="setTab('tabgif',2,3)" class="">顶TOP</li>
            <li id="tabgif3" onclick="setTab('tabgif',3,3)" class="">踩TOP</li>
          </ul>
          <div id="con_tabgif_1" class="hover" style="display: block;">
              <ul class="pageTabBox">
              <foreach name="gifclick" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabgif_2" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="gifding" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabgif_3" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="gifcai" item="v" title="{$v.title}">
              <li><a href="{:U('/'.$v['id'])}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div> 
      </div>
      </div>
    </div>
</div>

<div class="indexWrap">
    <div class="index">
      <div class="indexLeft">
        <div class="indexLeftTitle"><a href="/video" title="搞笑视频">搞笑视频</a></div>
          <ul class="indexCatalogUl">
            <foreach name="video" item="v">
            <li>
              <a href="/{$v.id}.html" title="{$v.title}">
              <div class="hover"><img src="/Public/Images/look.png"/></div>
              <div class="text">{$v.title}</div>
              <img src="/Uploads/{$v['thumbnail']}"  class="img"/>
              </a>
            </li>
            </foreach>                        
          </ul>
      </div>
      <div class="indexRight">
        <div class="CatelogTab">
          <ul class="pageTab">
            <li id="tabvideo1" onclick="setTab('tabvideo',1,3)" class="hover">最热排行</li>
            <li id="tabvideo2" onclick="setTab('tabvideo',2,3)" class="">顶TOP</li>
            <li id="tabvideo3" onclick="setTab('tabvideo',3,3)" class="">踩TOP</li>
          </ul>
          <div id="con_tabvideo_1" class="hover" style="display: block;">
              <ul class="pageTabBox">
              <foreach name="videoclick" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabvideo_2" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="videoding" item="v">
              <li><a href="{:U('/'.$v['id'])}" title="{$v.title}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div>
          <div id="con_tabvideo_3" style="display: none;">
              <ul class="pageTabBox">
              <foreach name="videocai" item="v" title="{$v.title}">
              <li><a href="{:U('/'.$v['id'])}">+&nbsp;&nbsp;&nbsp;{$v.title}</a></li>
              </foreach>
              </ul>
          </div> 
      </div>
      </div>
    </div>
</div>

<div class="indexWrap">
    <div class="index">
        <div class="indexCatalog">
          <div class="rankbox">
                <div class="hotTab">
                    {:W('Hot',array('limit'=>5))}
                </div>
                <div class="CateTab">
                    {:W('Cate',array('limit'=>5))}
                </div>
                <div class="ad300">
                  <script type="text/javascript">
                  /*300*250 全图*/
                  var cpro_id = "u1095741";
                  </script>
                  <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
                </div>
          </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>


