*{padding:0px;margin: 0px;font-size:14px;}
ul,ol{list-style:none;}
a{ text-decoration: none;color:#3361AD;}
iframe{width:100%;height:100%;border:none;}
table{width:100%;}
table,th,td{ border-collapse: collapse;background:#fff;}
th{ text-align: right;}
th,td{padding:8px 8px;}
input,button{ border:solid 1px #dcdcdc;height:21px;padding:7px 6px;color:#999;background:#fff; vertical-align: middle;margin-right: 10px;float: left;}
.select{ border:solid 1px #dcdcdc;height:36px;padding:7px 6px;color:#999;background:#fff; vertical-align: middle;width: 120px;margin-right: 10px;float: left;}
.inputlong{width: 400px;}
textarea{ border:solid 1px #dcdcdc;height:30px;padding:3px 6px;color:#999;background:#fff; vertical-align: middle;}
.textarea{width: 400px;height: 60px;}
select{border:solid 1px #ccc;}
img{border:none; vertical-align: middle;}
.len100{width:100px;}
.len150{width:159px;}
.len200{width:200px;}
.len250{width:250px;}
.len300{width:300px;}
.len350{width:350px;}
.len400{width:400px;}
.tip{float: left;line-height: 20px;margin-right: 15px;}
.tip2{float: left;line-height: 37px;margin-right: 15px;color: #aaa;}
.l{float:left;}
.r{float:right;}
.c{clear: both;}
em{color:#f00;font-style:normal;line-height:1.8em;border-collapse:collapse;}/**红星**/
.submit{background:#aaa;height:30px;padding:0px 30px;line-height:1.8em;color:#fff;font-size:14px; cursor: pointer;border: none;margin: 10px 0;}
.error{padding:3px;line-height:36px;margin-top:8px; font-size:12px;color:#f00;}
span.msg{color:#666;border:solid 1px #eee;padding:6px;margin-left:10px;}
.content{padding:10px;}
/*****分页处理*******/

.page {
	font-size:12px;color:#666;PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px;
	
}
.page .count,.page .nowpage{margin-right:10px;}
.page .selfpage {
	background:#2E6AB1;color:#fff;BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
.page a {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
.page a:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
.page a:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
.page span.current {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
.page span.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}
.page #pagekeydown{}
.page input{height:22px;line-height:16px;padding:0px 0px;margin:0px;margin-right: 5px;}
.page button{height:22px;line-height: 6px;display: inline;}
.page select{}
/****表格样式1********/
.table{width:90%;margin: 20px 0 0 20px;float: left;}
.table,.table td{border:solid 1px #ddd;}
.table th{border:solid 1px #ddd;width:100px;}
.table thead tr td{background: #eee;color:#ddd;}

/******按钮*******/
.bt1{padding:8px 15px;margin-right:6px; background: #ccc;color:#000;border-radius: 3px; text-align: center;float:left;display: block;cursor: pointer;}
.bt2{padding:8px 15px;margin-right:6px; background: #4884D5;color:#fff;border-radius: 3px; text-align: center;float:left;display: block;cursor: pointer;}


.navlist{float: left;width: 90%;margin:20px 0 0 20px;}
.navlist a{float: left;height: 32px;padding:0 20px;background: #ddd;line-height: 32px;text-align: center;color: #222;margin-right: 10px;}
.navlist a:hover{background: #333;color: #fff;}
.navlist a.cur{background: #333;color: #fff;}

.pagesize{float: left;line-height: 30px;margin: 10px;}
.pagesize a,.pagesize b,.pagesize .current{padding:0 12px;line-height: 30px;height: 30px;background: #ddd;border-radius:40px;text-align: center;margin: 0 10px 0 0;color: #222;text-shadow:1px 1px 0 #fff;display: inline-block;font-weight: normal;}
.pagesize .current{background: #bbb;color: #222;}