<ul>
    <li style="border-bottom: 1px solid #cccccc;position: relative">
        <div class="am-cf" style="padding: 10px">
            <div class="am-fl">
                <img src="Application/Mob/Static/test/551931edeecf0.jpg" style="width: 140px;height: 100px">
            </div>
            <div class="am-fl" style="margin-left: 10px">
                <div>
                    <h3 class="title" style="width: 100% ;font-size: 15px;margin-top: 10px;margin-bottom: 10px">
                        <a title="" href="" target="_blank">五月二十日 手机开发组 进度</a>
                    </h3>
                </div>
                <div style="font-size: 13px">
                    <span class="author">2015-05-21 20:43:02&nbsp;&nbsp;<span style="color: green;">审核通过</span></span>
                    <p style="margin: 0px">修复了一部分bug</p>
                </div>

            </div>
            <div class="am-fr">
                <i class="am-icon-eye"></i>13
            </div>
        </div>
    </li>
    <li style="border-bottom: 1px solid #cccccc">
        <div class="am-cf" style="padding: 10px">
            <div class="am-fl">
                <img src="Application/Mob/Static/test/551931edeecf0.jpg" style="width: 140px;height: 100px">
            </div>
            <div class="am-fl" style="margin-left: 10px">
                <div>
                    <h3 class="title" style="width: 100% ;font-size: 15px;margin-top: 10px;margin-bottom: 10px">
                        <a title="" href="" target="_blank">五月二十日 手机开发组 进度</a>
                    </h3>
                </div>
                <div style="font-size: 13px">
                    <span class="author">2015-05-21 20:43:02&nbsp;&nbsp;<span style="color: green;">审核通过</span></span>
                    <p style="margin: 0px">修复了一部分bug</p>
                </div>

            </div>
            <div class="am-fr">
                <i class="am-icon-eye"></i>13
            </div>
        </div>
    </li>
</ul>