<div class="am-tabs" id="follow">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify" style="font-size: 12px">
        <li class="am-active"><a href="">我的粉丝</a></li>
        <li><a href="">我的关注</a></li>

    </ul>
    <div class="am-tabs-bd" style="border: none">
        <div class="am-tab-panel am-active" style="padding: 5px">
            <div class=" am-g am-cf" style="border-bottom: 1px solid #dedede;padding-bottom:10px ">
                <div class="am-fl am-u-sm-3" style="padding: 0px">
                    <img style="width: 80px;height: 80px" class="am-circle"
                         src="Application/Mob/Static/test/551931edeecf0.jpg">
                </div>
                <div class="am-fl am-u-sm-9"style="margin-top:10px ">
                    <div><a href="">Andy_</a><br>
                        等级：Lv4 助理
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-4 am-text-left">
                            微博： 2
                        </div>
                        <div class="am-u-sm-4 am-text-left">
                            粉丝：16
                        </div>
                        <div class="am-u-sm-4 am-text-left">
                            关注：6
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-tab-panel" style="padding:10px 5px">
            <div class=" am-g am-cf" style="border-bottom: 1px solid #dedede;padding-bottom:10px ">
                <div class="am-fl am-u-sm-3" style="padding: 0px">
                    <img style="width: 80px;height: 80px" class="am-circle"
                         src="Application/Mob/Static/test/551931edeecf0.jpg">
                </div>
                <div class="am-fl am-u-sm-9"style="margin-top:10px ">
                    <div>
                        <a href="">Andy_</a><br>
                        等级：Lv4 助理
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-4 am-text-left">
                            微博： 2
                        </div>
                        <div class="am-u-sm-4 am-text-left">
                            粉丝：16
                        </div>
                        <div class="am-u-sm-4 am-text-left">
                            关注：6
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('#follow').tabs();
    })
</script>