<div class="am-tabs" id="doc-my-tabs">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify"style="font-size: 12px">
        <li class="am-active"style=""><a href="">基本资料</a></li>
        <li><a href="">个人资料</a></li>
    </ul>
    <div class="am-tabs-bd"style="border: none">
        <div class="am-tab-panel am-active">
            <div class="item-info-page">
                <span>昵称：</span>

                <p>汪思宇www</p>
            </div>
            <div class="item-info-page">
                <span>性别：</span>

                <p>保密</p>
            </div>
            <div class="item-info-page">
                <span>邮箱：</span>

                <p></p>
            </div>
            <div class="item-info-page">
                <span>所在地：</span>

                <p>还未设置</p>
            </div>
            <div class="item-info-page">
                <span>个性签名：</span>

                <p>我要这天再也遮不住我的眼 我要这地再也埋不住我的心
                    我要这漫天诸佛皆烟消云散</p>
            </div>

        </div>
        <div class="am-tab-panel">
            <div class="item-info-page">
                <span>QQ：</span>

                <p>还未设置</p>
            </div>
            <div class="item-info-page">
                <span>生日：</span>

                <p>还未设置</p>
            </div>
        </div>


    </div>



</div>


<style>
    .item-info-page {
        border-color: #e3e3e3;
        overflow: hidden;
        border-bottom: #dadada solid 1px;
        padding: 9px 5px 9px 0;
        clear: both;
    }

    .item-info-page span {
        float: left;
    }

    .item-info-page p {
        margin: 0px;
        padding: 0px;;
        float: left;
    }
</style>

<script>
    $(function () {
        $('#doc-my-tabs').tabs();
    })
</script>
