


<div class="am-tabs" id="rank"style="font-size: 12px">
    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify"style="font-size: 12px">
        <li class="am-active">
            <a href="" style="padding: 0px">已拥有头衔</a></li>
        <li><a href="" style="padding: 0px">待审核头衔</a></li>
        <li><a href="" style="padding: 0px">申请失败头衔</a></li>
        <li><a href="" style="padding: 0px">申请头衔</a></li>
    </ul>
    <div class="am-tabs-bd" style="border: none">
        <div class="am-tab-panel am-active">
            <div class=" am-g" style="border-bottom: 1px solid #dedede;margin: 0;">
                <div class="am-u-sm-3 am-text-center">
                    <img style="width: 18px;margin-top: 30px;margin-left: 25px"
                         src="/Uploads/Picture/2015-04-03/551e2f7f7d632.png">
                </div>
                <div class="am-u-sm-9">
                    <div>
                        头衔名称：官方人员
                    </div>
                    <div style="margin-top: 10px;">
                        理由：官方人员(身份)默认拥有该头衔！
                    </div>
                    <div style="margin-top: 10px;">
                        申请时间：04月17日 09:18
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
        <div class="am-tab-panel">
            <div class=" am-g" style="border-bottom: 1px solid #dedede;margin: 0;">
                <div class="am-u-sm-3 am-text-center">
                    <img style="width: 18px;margin-top: 30px;margin-left: 25px"
                         src="/Uploads/Picture/2015-04-03/551e2f7f7d632.png">
                </div>
                <div class="am-u-sm-9">
                    <div>
                        头衔名称：官方人员
                    </div>
                    <div style="margin-top: 10px;">
                        理由：官方人员(身份)默认拥有该头衔！
                    </div>
                    <div style="margin-top: 10px;">
                        申请时间：04月17日 09:18
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>

        <div class="am-tab-panel">
            <div class=" am-g" style="border-bottom: 1px solid #dedede;margin: 0;">
                <div class="am-u-sm-3 am-text-center">
                    <img style="width: 18px;margin-top: 30px;margin-left: 25px"
                         src="/Uploads/Picture/2015-04-03/551e2f7f7d632.png">
                </div>
                <div class="am-u-sm-9">
                    <div>
                        头衔名称：官方人员
                    </div>
                    <div style="margin-top: 10px;">
                        理由：官方人员(身份)默认拥有该头衔！
                    </div>
                    <div style="margin-top: 10px;">
                        申请时间：04月17日 09:18
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
        <div class="am-tab-panel">
            <div class=" am-g" style="border-bottom: 1px solid #dedede;margin: 0;">
                <div class="am-u-sm-3 am-text-center">
                    <img style="width: 18px;margin-top: 30px;margin-left: 25px"
                         src="/Uploads/Picture/2015-04-03/551e2f7f7d632.png">
                </div>
                <div class="am-u-sm-9">
                    <div>
                        头衔名称：官方人员
                    </div>
                    <div style="margin-top: 10px;">
                        理由：官方人员(身份)默认拥有该头衔！
                    </div>
                    <div style="margin-top: 10px;">
                        申请时间：04月17日 09:18
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#rank').tabs();
    })
</script>



