<div class="web_left pull-left test">
	<div class="white_border">
		<div class="user_info">
			<ul class="list-unstyled">
				<li style="height: 30px;"><img width="30px;" height="30px;"
					src="{$atlas.user.avatar128}">
				</li>
				<li class="user_name">
					<p>{$atlas.user.nickname}</p>
				</li>
				<li>
					<p class="time">发布于{$atlas.addtime|friendlyDate}</p>
				</li>
			</ul>
		</div>

		<div class="web_conter clearfix">
			<div class="post-body">
				<p style="WORD-BREAK: break-all;" id="title-{$atlas.id}"
					class="web_size">{$atlas.content|parseWeiboContent}</p>
				<p style="margin-top: 20px;">
					<a href="{:U('atlas/index/detail',array('id'=>$atlas['id']))}" target="_blank"> <img
						alt="{$atlas.content|parseWeiboContent}" id="pic-{$atlas.id}"
						src="{$atlas.image_id|getThumbImageById=300,300}">
					</a>
				</p>
			</div>
			<div class="budejie_mutual clearfix">
				<ul class="pull-left interactive list-unstyled">
					<li><a class="dolove no_love" data-postid="{$atlas.id}" > <span id="loveNum-{$atlas.id}" class="num">{$atlas.like_count}</span>
					</a></li>
					<li><a class="notlove no_cai" data-postid="{$atlas.id}" > <span id="noloveNum-{$atlas.id}" class="num">{$atlas.unlike_count}</span>
					</a></li>
					<!-- <li style="height: 50px;"><a style="display: none;"
						class="bookmark" onclick="do_cancelBookmark('', '14006007')">
							<span id="bookmark-14006007">&nbsp;&nbsp;</span>
					</a> <a class="no_bookmark" onclick="do_bookmark('', '14006007')">
							<span id="no_bookmark-14006007">&nbsp;&nbsp;</span>
					</a></li> -->
				</ul>
				<ul class="pull-right list-unstyled">
					<!-- <li><a class="share-content"> <span id="repost-14006007">3</span>
					</a></li> -->
					<li style="margin-right: 0px;"><a class="comment_button"
						href="{:U('atlas/index/detail',array('id'=>$atlas['id']))}" target="_blank"> <span>{$atlas.comment_count}</span>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>