<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
		<script type="text/javascript">
			window.UEDITOR_HOME_URL = '__ROOT__/Data/Ueditor2/';
			window.onload = function(){
				window.UEDITOR_CONFIG.initialFrameHeight = 300;
				window.UEDITOR_CONFIG.initialFrameWidth = 800;
				window.UEDITOR_CONFIG.imageUrl = "{:U(GROUP_NAME.'/Article/upload')}";           //图片上传提交地址
    			window.UEDITOR_CONFIG.imagePath = '__ROOT__/Uploads/';   
				UE.getEditor('content');
			}
		</script>
		<js file='__ROOT__/Data/Ueditor2/ueditor.config.js'/>
		<js file='__ROOT__/Data/Ueditor2/ueditor.all.min.js'/>
	</head>
	<body>
		<div class="navlist">
			<a href="{:U(GROUP_NAME.'/Article/index')}">文章列表</a>
			<a href="{:U(GROUP_NAME.'/Article/add')}">增加文章</a>
			<a href="javascript:;"  class="cur">修改文章</a>
			<a href="{:U(GROUP_NAME.'/Article/trach')}">文章回收站</a>
		</div>
		<form method="post" action="{:U(GROUP_NAME.'/Article/updateRun')}"  enctype="multipart/form-data">
		<table class="table">
			<tr>
				<td align="right" width="10%">博文标题：</td>
				<td>
					<input type="text" name="title" value="{$article.title}"  class="inputlong">
					<select name="cid" class="select">
						<option value="{$article.cid}">{$cid.name}</option>
						<foreach name="cate" item="v">
						<option value="{$v.id}">{$v.html}{$v.name}</option>
						</foreach>
					</select>
					<select name="username" class="select">
						<option value="{$article.username}">{$article.username}</option>
					<foreach name="user" item="v">
						<option value="{$v.username}">{$v.username}</option>
					</foreach>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" width="10%">博文属性：</td>
				<td>
<!-- 					<foreach name="attr" item="v">
						<php>if(in_array($v['id'],$at)){</php>

							<label style="margin-right:10px;">
								<input type="checkbox" name="aid[]" value="{$v.id}" checked="checked"/>&nbsp;<div class="tip">{$v.name}</div>
							</label>							
						<php>}else{</php>
						<label style="margin-right:10px;">
							<input type="checkbox" name="aid[]" value="{$v.id}" />&nbsp;<div class="tip">{$v.name}</div>
						</label>
						<php>}</php>
					</foreach> -->
					<input type="checkbox" name="del" value="1" <if condition="$article['del'] eq 1"> checked="checked" </if> />&nbsp;<div class="tip">放入回收站</div>
				</td>
			</tr>
			<tr>
				<td align="right" width="10%">缩略图：</td>
				<td>
					<input type="file" name="thumbnail" value="{$article.thumbnail}"/>&nbsp;
					<empty name="article['thumbnail']">
						&nbsp;
					<else/>
						<img src="/Uploads/{$article.thumbnail}" width="100"/>
					</empty>
					
				</td>
			</tr>
			<tr>
				<td align="right" width="10%">博文摘要：</td>
				<td>
					<textarea name="summary" class="textarea">{$article.summary}</textarea>
				</td>
			</tr>
			<tr>
				<td align="right" width="10%">关键字：</td>
				<td>
					<input type="text" name="keyword" value="{$article.keyword}" class="inputlong">
					<input type="text" name="click" value="{$article.click}">
				</td>
			</tr>
			<tr>
				<td align="right" width="10%">Tag：</td>
				<td>
					<input type="text" name="tag" value="{$taglist}" class="inputlong">
				</td>
			</tr>
			<tr>
				<td align="right" width="10%"></td>
				<td>
					<textarea name="content" id="content" cols="80" rows="6">{$article.content}</textarea>
				</td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td>
					<input type="hidden" name="id" value="{$article.id}"/>
					<input type="submit" value="确认修改" class="submit"/>
				</td>
			</tr>			
		</table>
	</form>
	</body>
</html>
