
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('login')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>{:modC('WEB_SITE_NAME','OpenSNS')}</h1>
        <p>{:modC('SUMMARY','')}</p>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div style="text-align: center">
            <h3>找回密码</h3>
        </div>
        <form method="post" class="am-form">
            <input class="am-radius" placeholder="{:L('username')}" type="text" name="" id="text" value="">
            <br>
            <input class="am-radius" placeholder="{:L('password')}" type="email" name="" id="email" value="">
            <br>
            <input class="am-radius" placeholder="{:L('validate_code')}" type="text" name="" id="validate_code" value="">
            <div>

            </div>
            <br>
            <div class="am-cf">
                <input  type="submit" name="" value="{:L('found')}" class="am-btn am-radius am-btn-primary am-btn-sm am-fl am-btn-block">
            </div>
            <br>
        </form>
    </div>
</div>
</body>
</html>