<php>
    $user = query_user(array('avatar128','avatar64','nickname','uid','space_url'),
    $vo['uid']);
</php>
<div class="clearfix">
    <div class="col-xs-2 text-center">
        <p>
            <a href="{$user.space_url}">
                <img src="{$user.avatar64}" ucard="{$user.uid}" class="avatar-img"/>
            </a>
        </p>
    </div>
    <div class="col-xs-10">
        <p>
            <a class="forum_forum_name" href="{:U('Forum/Index/forum',array('id'=>$vo['forum_id']))}">[{$vo.forum.title|text}]</a>
            <a class="forum-list-title-link" title="{$vo.title|text}"
               href="{:U('Index/detail',array('id'=>$vo['id']))}">{$vo.title|htmlspecialchars|mb_substr=0,30,'utf-8'}
            </a>
            <eq name="document.is_top" value="2"><span class="label label-badge label-danger">全站</span>
                <else/>
                <eq name="document.is_top" value="1"><span class="label label-badge label-info">版块</span></eq>
            </eq>
        </p>

        <p class="pull-right text-muted">
            <span>阅读（{$vo.view_count}）</span>
            <span style="width: 1em; display: inline-block;">&nbsp;</span>
            <span>回复（{$vo.reply_count}）</span>
        </p>

        <p class="text-muted author">
            <a href="{$user.space_url}" ucard="{$user.uid}">{$user.nickname|op_t}</a>
            发布：{$vo.create_time|friendlyDate} |
            回复：{$vo.last_reply_time|friendlyDate}
        </p>
    </div>
</div>
