<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/store.css" type="text/css" rel="stylesheet">
</block>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
    <div class="container " style="padding-top:15px">

        <div class="clearfix common_block_border">
            <div class="common_block_title"><span style="color: #488EB8;">{$_GET['key']}</span> 查找结果</div>
            <if condition="$type eq 'goods'">
                <!--导航栏end-->
                <div class="mb10 clearfix ">
                    {:W('InfoList/render',array(array('map'=>array('title'=>$searchKey),'num'=>15,'class'=>'store_ul_info','type'=>'list')))}
                </div>
                <else/>
                <div class=" clearfix" style="padding: 10px;margin-bottom: 10px;line-height: 28px">
                    <div class="pull-left">共 {$list.count} 个店铺符合条件</div>
                </div>
                <div style="padding: 7px"></div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="">

                            <div class="common_block_title">已入驻的小店</div>
                            <div class="clearfix" style="min-height: 800px">
                                <div class="col-xs-12">
                                    <volist name="list.data" id="vo">
                                        <div class="clearfix">
                                            <div class="col-xs-3 c_s_ul_logo   pd10 mr10" style="">
                                                <a class="f16px"
                                                   href="{:U('store/shop/detail',array('id'=>$vo['id']))}">
                                                    <img class="img-rounded" src="{:getThumbImageById($vo['logo'],80,80)}">
                                                </a>

                                                <div class="left" style="width: 140px">
                                                    <p class="mb10">
                                                        <a class="f16px"
                                                           href="{:U('store/shop/detail',array('id'=>$vo['id']))}">{$vo.title}</a>
                                                    </p>

                                                    <p class="mb10">掌柜： <a href="{$vo.user.space_url}" event-node="face_card"
                                                                           uid="{$vo.user.uid}"><img
                                                            class="mr5 p16 avatar-img"
                                                            src="{$vo.user.avatar32}"> {$vo.user.nickname}</a></p>

                                                    <p class="mb5">所在地：{$vo.position}</p>

                                                    <p class="mb5">
                                                        创店于：{$vo.create_time|date='Y.m.d',###}
                                                    </p>

                                                    <p>共{:count($vo['goods'])}件商品</p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-xs-9  pd10 " style="  height:102px;*height:106px;">
                                                <if condition="count($vo['goods'])==0"><span
                                                        style="font-size: 32px;line-height: 102px;padding-left: 20px">小店新开张，还没有上传任何商品。</span>
                                                </if>
                                                <ul class="c_s_ul_goods">
                                                    <volist name="vo['goods']" id="gd">
                                                        <li style="position: relative;<php>if($i % 6 == 0) echo 'margin-right:0';</php>;margin-bottom: 10px">
                                                            <a target="_blank"
                                                               href="{:U('store/Index/info',array('info_id'=>$gd['id']))}">
                                                                <img src="{$gd.cover_id|getThumbImageById=100,100}"
                                                                     style="width: 100px;height: 100px;">

                                                                <div class="c_tt">
                                                                    ￥{$gd.price|number_format=2}
                                                                </div>
                                                            </a>

                                                        </li>
                                                    </volist>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>

                                        </div>
                                        <hr/>
                                    </volist>


                                    <div class="text-center">
                                        {$list.html}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--导航栏end-->

                </div>
            </if>

        </div>
    </div>
    <script src="__JS__/store.js"></script>
</block>

