<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('cat')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/cat.css"/>
    <link rel="stylesheet" href="__CSS__/app.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-bottom: 0px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default am-header-fixed">


    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1);"><span class="am-icon-chevron-left"></span></a>
        <a href="#phone-link" class="">
            <i class="am-header-icon am-icon-bell-o"></i>
        </a>
    </div>
    <h1 class="am-header-title">
      兼职详情
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="#nav-link" class="">
            <i class=" am-icon-star"></i>
        </a>
        <a href="#nav-link" class="">
            <i class="am-menu-toggle-icon am-icon-bars"></i>
        </a>
    </div>

</header>


<div class="jobdetail-container ">

    <div class="job-detail-head">
        <h4>月入万元以上微水上门洗车轻松帮你实现
        </h4>

        <div class="tips-info" style="font-size: 12px;padding: 10px;border: 1px solid #c8c6c4;margin-bottom: 10px">
            <div class="publish-time am-text-left "style="margin-bottom: 10px">
                <span>发布时间</span>04-27 17:21
                </br>
                <span>截止时间</span>04-27 17:21【已过期】
                </br><span>浏览量</span>59
            </div>
            <div class="am-fr"style="">
                <a class="keep-item"
                   style="padding: 5px;background: #fff;border-radius: 4px;border: 1px solid #c8c6c4;height: 24px;line-height: 24px;">
                    <span data-role="text">收藏该帖</span>
                </a>
            </div>

            <div class="am-text-left" style="margin-bottom: 1px">
                <span class="corange">5.0</span>分
                [<span class="corange bld f16px">1</span> 人打分]
                <div>
                    <img src="/Public/Cat/js/raty/img/star-on.png" alt="1" title="糟糕"><img
                        src="/Public/Cat/js/raty/img/star-on.png" alt="2" title="较差">&nbsp;
                    <img src="/Public/Cat/js/raty/img/star-on.png" alt="3" title="一般">
                    <img src="/Public/Cat/js/raty/img/star-on.png" alt="4" title="不错">
                    <img src="/Public/Cat/js/raty/img/star-on.png" alt="5" title="完美">
                    <input type="hidden" name="score" value="5">
                </div>
            </div>
        </div>
    </div>
    <div class="house-mian-info" style="font-size: 12px;padding: 10px;border: dashed 1px #000;margin-bottom: 10px">
        <ul class="am-avg-sm-2">
            <li class=""><span>岗位名：</span>迪拜扫地僧</li>
            <li class=""><span>待遇：</span>8000~12000元</li>
            <li class=""><span>联系方式：</span>小乔服装店</li>
            <li class=""><span>公司名称：</span>小乔服装店</li>
            <li class=""><span>招聘人数：</span>10</li>
            <li class=""><span>地点：</span>小乔服装店</li>
            <li class=""><span>Email：</span>xiaoqiao@qq.com</li>
        </ul>
    </div>
    <div class="comm-area" style="font-size:12px;padding: 10px;border: 1px solid #c8c6c4;margin-bottom: 10px">
        <p class="">信息详情</p>
        <p>
           <span class="full-text">
                    距上海最近的双地铁双生态房，位于浙江接轨上海第一站的浙江嘉兴平湖市全塘镇新区（仅距上海金山区5公里）也被称为独山港区（全塘镇和黄姑镇），紧接上海地铁22号线和9号线，上海报纸已经报到22号线延伸段，距小区步行5分钟，楼盘对门就是镇中学，本小区周边总4个学校，1个幼儿园，2个小学，1个中学，都是对口学校，学校师资力量雄厚，小区单价3980-4500，地铁房振港苑属于上海周边超性价比的房产原始股，是可遇不可求兼具投资度假休闲养老的高档综合人文住宅区，升值潜力极其巨大。
           </span>
        </p>
    </div>
    <div class="am-form-group" style="padding: 10px;margin-bottom: 10px">
        <h6>评论</h6>
        <textarea class="content" rows="5" id="doc-ta-1" style="height: 8em; width: 100%;"></textarea>

        <p class="submit" url="{:U('Mob/Weibo/doAddComment')}">
            <button type="submit" class="am-btn am-btn-default am-round">提交</button>
        </p>
    </div>
    <div class="comment-list">
        <php>for($i=1;$i<10;$i++){</php>
        <div class="comment-item"
             style="background-color: #ffffff;padding: 10px;margin-bottom: 5px;border: 1px solid #F2F2F2;">
            <div class="am-g avatar-img">
                <div class="am-u-sm-6 avatar">
                    <img class="avatar-img" style="width: 32px" src="Public/images/default_avatar_128_128.jpg">
                    <span><a href="##">爱德华</a></span>
                </div>


                <div class="am-u-sm-6 time" style="font-size: 13px;text-align: right">
                    5分钟前
                </div>
            </div>
            <div class="am-g content" style="padding: 10px">
                你™的在逗我~！~！~
            </div>
            <div class="am-g">
                <div class="am-u-sm-2 am-text-center" style="float: right">
                    <a><i class="am-icon-trash" id="doc-confirm-toggle"></i></a>
                </div>
                <div class="am-u-sm-2 am-text-center">
                    <i class="am-icon-comment-o" id="doc-prompt-toggle"></i>
                </div>
            </div>
        </div>
        <php>}</php>
    </div>
</div>


<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-5" style="font-size: 12px">
        <li>
            <a href="{:U('')}" class="">
                我
            </a>
        </li>

        <li>
            <a href="{:U('')}" class="">
                发布
            </a>
        </li>

    </ul>
</div>


<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script>
    $(function () {
        $('#doc-my-tabs').tabs();
    })
</script>
</body>
</html>