<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('cat')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/cat.css"/>
    <link rel="stylesheet" href="__CSS__/app.css"/>
    <script src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/shanxuan.js"></script>
    <style>
        header {
            text-align: center;
        }

        header h1 {
            font-size: 200%;
            color: #333;
            margin-bottom: 0px;
        }
        p{
            font-size: 13px;
            margin: 0px;
        }

.tag-list{font-size: 12px
;margin-top: 10px;
    margin-left: 10px;
}
        .tag a{line-height:22px;display:inline-block;border:1px solid #fff;text-align:center;padding-right:2px;}
        a.on{border:1px solid red;}
        .tag span,.fruit span{line-height:22px;height:22px;color:#000;font-size:14px;margin-right:10px;text-align:right;width:70px;}
        .fruit a{color:#000;line-height:22px;display:inline-block;width:100px;height:22px;margin-right:10px;text-align:center;border:1px solid #000;padding-right:10px;}
        .qcqb{width:70px;height:22px;line-height:22px;color:#690;display:none;display:inline-block;text-align:center;border:1px solid #ccc;cursor:pointer;}
    </style>
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default am-header-fixed">


    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1);"><span class="am-icon-chevron-left"></span></a>
        <a href="#phone-link" class="">
            <i class="am-header-icon am-icon-bell-o"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        搜索
    </h1>

    <div class="am-header-right am-header-nav">

        <a href="#nav-link" class="">
            <i class="am-menu-toggle-icon am-icon-bars"></i>
        </a>
    </div>
</header>

<div class="search-container ">
    <div class="am-tabs" id="doc-my-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
            <li class="am-active"><a href="">房产</a></li>
            <li><a href="">岗位</a></li>
            <li><a href="">兼职</a></li>
        </ul>



        <div class="am-tabs-bd" style="border-bottom: none">
            <div class="am-tab-panel am-active">
                <div class="tag-list">
                    <div class="tag">
                        <span>福利：</span>
                        <a rel="1" class="tag-child" name="aaa" href="javascript:;">1111</a>
                        <a rel="2" class="tag-child" name="aaa" href="javascript:;">2222</a>
                        <a rel="3" class="tag-child" name="aaa" href="javascript:;">3333</a>
                        <a rel="4" class="tag-child" name="aaa" href="javascript:;">4444</a>
                    </div>

                    <div class="tag">
                        <span>区域：</span>
                        <a rel="1" class="tag-child" name="bbb" href="javascript:;">aaaa</a>
                        <a rel="2" class="tag-child" name="bbb" href="javascript:;">bbbb</a>
                        <a rel="3" class="tag-child" name="bbb" href="javascript:;">cccc</a>
                        <a rel="4" class="tag-child" name="bbb" href="javascript:;">dddd</a>
                    </div>

                    <div class="tag">
                        <span>价格：</span>
                        <a rel="1" class="tag-child" name="ccc" href="javascript:;">一一</a>
                        <a rel="2" class="tag-child" name="ccc" href="javascript:;">二二</a>
                        <a rel="3" class="tag-child" name="ccc" href="javascript:;">三三</a>
                        <a rel="4" class="tag-child" name="ccc" href="javascript:;">四四</a>
                    </div>

                    <div class="tag">
                        <span>休假：</span>
                        <a rel="1" class="tag-child" name="ddd" href="javascript:;">不限</a>
                        <a rel="2" class="tag-child" name="ddd" href="javascript:;">电话销售</a>
                        <a rel="3" class="tag-child" name="ddd" href="javascript:;">销售代表</a>
                        <a rel="4" class="tag-child" name="ddd" href="javascript:;">售前工程师</a>
                    </div>

                    <div class="fruit">
                        <span>已选关键词：</span>
                        <a class="clear" href="{:U('cat/search')}">清除全部</a>
                    </div>

                </div>

                <div class="search_content">
                    <div class="">
                        <ul>
                            <php>for($i=1;$i<5;$i++){</php>
                            <li class="search-results">
                                <div class="main am-cf">
                                    <div class="img-box am-fl">
                                        <img src="Application/Mob/Static/test/551931edeecf0.jpg">
                                    </div>


                                    <div class="detail">
                                        <span><a href="{:U('cat/detail')}" style="">帐篷 70平米 1室1厅1卫</a></span>
                                        <span class="am-fr"><i class="am-icon-star-o"></i>收藏</span>

                                        <div class="ispace">
                                            走的哪里那里都是家
                                        </div>
                                        <div class="info">
                                            <span class="release-time">01月07日 14:18</span>
                                            <span class="house-price am-fr">面议</span>
                                        </div>
                                        <div class="tag">
                                            <span class="">面议</span>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <php>}</php>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="am-tab-panel">
                <div class="tag-list">
                    <div class="tag">
                        <span>福利：</span>
                        <a rel="1" class="tag-child" name="fff" href="javascript:;">1111</a>
                        <a rel="2" class="tag-child" name="fff" href="javascript:;">2222</a>
                        <a rel="3" class="tag-child" name="fff" href="javascript:;">3333</a>
                        <a rel="4" class="tag-child" name="fff" href="javascript:;">4444</a>
                    </div>

                    <div class="tag">
                        <span>区域：</span>
                        <a rel="1" class="tag-child" name="www" href="javascript:;">aaaa</a>
                        <a rel="2" class="tag-child" name="www" href="javascript:;">bbbb</a>
                        <a rel="3" class="tag-child" name="www" href="javascript:;">cccc</a>
                        <a rel="4" class="tag-child" name="www" href="javascript:;">dddd</a>
                    </div>

                    <div class="tag">
                        <span>价格：</span>
                        <a rel="1" class="tag-child" name="rrr" href="javascript:;">一一</a>
                        <a rel="2" class="tag-child" name="rrr" href="javascript:;">二二</a>
                        <a rel="3" class="tag-child" name="rrr" href="javascript:;">三三</a>
                        <a rel="4" class="tag-child" name="rrr" href="javascript:;">四四</a>
                    </div>

                    <div class="tag">
                        <span>休假：</span>
                        <a rel="1" class="tag-child" name="ttt" href="javascript:;">不限</a>
                        <a rel="2" class="tag-child" name="ttt" href="javascript:;">电话销售</a>
                        <a rel="3" class="tag-child" name="ttt" href="javascript:;">销售代表</a>
                        <a rel="4" class="tag-child" name="ttt" href="javascript:;">售前工程师</a>
                    </div>

                    <div class="fruit">
                        <span>已选关键词：</span>
                        <a class="clear" href="{:U('cat/search')}">清除全部</a>
                    </div>

                </div>

                <div class="search_content">
                    <div class="">
                        <ul>
                            <php>for($i=1;$i<5;$i++){</php>
                            <li class="c" style="border-bottom: solid 1px #ddd;color: #f5f5f5">
                                <div class="infor" style="font-size: 12px">
                                    <div class="deliver-area">
                                        <a class="infor" href="" style="color: #000">
                                            <div class="iName">
                                                <span>月入2万元以上微水环保上门 </span>（<span></span>）
                                                <span class="am-fr"><i class="am-icon-star-o"></i>收藏</span>
                                            </div>
                                            <div class="i_one am-cf">
                                            <span class="iol">
                                                学历不限
                                                <i class="line_gray"></i>
                                                招聘人数
                                                <i class="line_gray"></i>
                                                昨天
                                            </span>
                                                <span class="ior am-fr">2000～5000</span>
                                            </div>
                                            <div class="am-cf">
                                              <span class="c_n">
                                               浙江知己汽车服务有限公司
                                             </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <php>}</php>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="am-tab-panel">
                <div class="tag-list">
                    <div class="tag">
                        <span>福利：</span>
                        <a rel="1" class="tag-child" name="555" href="javascript:;">1111</a>
                        <a rel="2" class="tag-child" name="555" href="javascript:;">2222</a>
                        <a rel="3" class="tag-child" name="555" href="javascript:;">3333</a>
                        <a rel="4" class="tag-child" name="555" href="javascript:;">4444</a>
                    </div>

                    <div class="tag">
                        <span>区域：</span>
                        <a rel="1" class="tag-child" name="222" href="javascript:;">aaaa</a>
                        <a rel="2" class="tag-child" name="222" href="javascript:;">bbbb</a>
                        <a rel="3" class="tag-child" name="222" href="javascript:;">cccc</a>
                        <a rel="4" class="tag-child" name="222" href="javascript:;">dddd</a>
                    </div>

                    <div class="tag">
                        <span>价格：</span>
                        <a rel="1" class="tag-child" name="1111" href="javascript:;">一一</a>
                        <a rel="2" class="tag-child" name="1111" href="javascript:;">二二</a>
                        <a rel="3" class="tag-child" name="1111" href="javascript:;">三三</a>
                        <a rel="4" class="tag-child" name="1111" href="javascript:;">四四</a>
                    </div>

                    <div class="tag">
                        <span>休假：</span>
                        <a rel="1" class="tag-child" name="777" href="javascript:;">不限</a>
                        <a rel="2" class="tag-child" name="777" href="javascript:;">电话销售</a>
                        <a rel="3" class="tag-child" name="777" href="javascript:;">销售代表</a>
                        <a rel="4" class="tag-child" name="777" href="javascript:;">售前工程师</a>
                    </div>

                    <div class="fruit">
                        <span>已选关键词：</span>
                        <a class="clear" href="{:U('cat/search')}">清除全部</a>
                    </div>

                </div>

                <div class="search_content">
                    <div class="">
                        <ul>
                            <php>for($i=1;$i<5;$i++){</php>
                            <li class="c" style="border-bottom: solid 1px #ddd;color: #f5f5f5">
                                <div class="infor" style="font-size: 12px">
                                    <div class="deliver-area">
                                        <a class="infor" href="" style="color: #000">
                                            <div class="iName">
                                                <span>月入2万元以上微水环保上门 </span>（<span></span>）
                                                <span class="am-fr"><i class="am-icon-star-o"></i>收藏</span>
                                            </div>
                                            <div class="i_one am-cf">
                                            <span class="iol">
                                                学历不限
                                                <i class="line_gray"></i>
                                                招聘人数
                                                <i class="line_gray"></i>
                                                昨天
                                            </span>
                                                <span class="ior am-fr">2000～5000</span>
                                            </div>
                                            <div class="am-cf">
                                              <span class="c_n">
                                               浙江知己汽车服务有限公司
                                             </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <php>}</php>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="__JS__/amazeui.min.js"></script>
<script>
    $(function () {
        $('#search_auto').css({'width': $('#search input[name="k"]').width() + 4});
        $('#search input[name="k"]').keyup(function () {
            $.post('search_auto.php', {'value': $(this).val()}, function (data) {
                if (data == '0') $('#search_auto').html('').css('display', 'none');
                else $('#search_auto').html(data).css('display', 'block');
            });
        });
    });
</script>
<script>
    $(function () {
        $('#doc-my-tabs').tabs();
    })
</script>
<script type="text/javascript">
    $('.tag').sx({
        nuv:".fruit",//筛选结果
        zi:"tag-child",//所有筛选范围内的子类
        qingchu:'.clear',//清除全部
        over:'on'//选中状态样式名称
    });
</script>
</body>
</html>