<if condition="$lists neq false">
<div class="common_block_border Atlas_hot_widget" style="margin-top: 0">
	<div class="common_block_title">精彩热门搞笑</div>
	
	<section class="cards cards-borderless">
		<volist name="lists" id="atlas">
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="card">
					<a href="{:U('atlas/index/detail',array('id'=>$atlas['id']))}"
						class="media-wrapper img-responsive"> <img
						src="{$atlas.image_id|getAtlasQiniuImageById=###,1,'gravity/Center/crop/!300x300'}"
						alt="{$atlas.content|parseWeiboContent}"></a> <a
						href="{:U('atlas/index/detail',array('id'=>$atlas['id']))}"
						class="card-heading">{$atlas.content|parseWeiboContent}</a>
				</div>
			</div>
		</volist>

	</section>
</div>

</if>