<extend name="Base/common" />
<block name="style">
<link type="text/css" rel="stylesheet" href="__CSS__/atlas.css" />
</block>
<block name="header">
    <include file="Public/nav"/>
</block>

<block name="body">
<div class="span9">

	<div class="web_content_left">

		<div class="web_left ">
			<div class="user_info">
				<ul class="list-unstyled">
					<li style="height: 30px;"><img width="30px;" height="30px;"
						src="{$detail.user.avatar128}"></li>
					<li class="user_name">
						<p>{$detail.user.nickname}</p>
					</li>
					<li>
						<p class="time">发布于{$detail.addtime|friendlyDate}</p>
					</li>
				</ul>
			</div>

			<div class="web_conter clear">
				<div style="clear: both" class="web_list_left">
					<p id="title-{$detail.id}" class="web_size">{$detail.content|parseWeiboContent}</p>
					<p>
						<img id="pic-{$detail.id}"
							data-original="{$detail.image_id|getAtlasThumbImageById=###,720,0,2}" src="__PUBLIC__/js/ext/lazyload/load.gif" class="img-responsive lazy">
							<noscript>
								<img src="{$detail.image_id|getAtlasThumbImageById=###,720,0,2}" class="img-responsive">
							</noscript>
					</p>
				</div>

				<div class="budejie_mutual clear">
					<ul class="pull-left list-unstyled">
						<li><a class="case dolove love" data-postid="{$detail.id}"> <span
								id="loveNum-{$detail.id}" class="num">{$detail.like_count}</span>
						</a></li>
						<li><a class="case notlove no_cai" data-postid="{$detail.id}">
								<span id="noloveNum-{$detail.id}" class="num">{$detail.unlike_count}</span>
						</a></li>

					</ul>
					<!-- <ul class="pull-right list-unstyled">
						<li style="margin-right: 0px;"><a class="comment_button"
							href="#main_conter"> <span>54</span>
						</a></li>
					</ul> -->
					<div class="shareBox pull-right">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
							<a href="#" class="bds_more" data-cmd="more"></a>
						</div>
						<script>
							window._bd_share_config={
								"common":{
									//"bdSnsKey":{},
									"bdText":"{$detail.content|parseWeiboContent}",
									"bdUrl":"{:U('atlas/index/detail',array('id'=>$detail['id']),'',true)}",
									"bdMini":"2",
									"bdMiniList":false,
									"bdPic":"{$detail.image_id|getAtlasThumbImageById=###,720,0,2}",
									"bdStyle":"1",
									"bdSize":"32",
									"onAfterClick":function(cmd){
										
									}
								},
								"share":{}
							};
						</script>
					</div>
				</div>
			</div>


			<!-- 评论开始 -->
				<div class="comment-frame">
					 {:hook('localComment', array('path'=>"Atlas/index/$detail[id]", 'uid'=>$detail['uid']))}
				</div>
				
			<!-- 评论结束 -->
		</div>
	</div>
</div>
</block>
<block name="script">
<script src="__JS__/atlas.js"></script>
</block>