<extend name="Base/common" />
<block name="style">
<link type="text/css" rel="stylesheet" href="__CSS__/atlas.css" />
</block>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
<!-- <div class="col-xs-3">
	广告位：图集首页左边1
	<script>
	$(function () {
		CNZZ_SLOT_Async('383283','ad_index_1');
	});
	</script>
	<div id="ad_index_1"></div>
	
</div> -->
<div class="col-xs-8">
	<div class="web_content_left">
		<volist name="atlas_list" id="atlas"> <include
			file="Public/atlas-item" /> </volist>
		<div class="pull-right">
			{:getPagination($totalCount)}
		</div>
	</div>
</div>
<div class="col-xs-4">
	<!-- 广告位：图集首页右边2-->
	<script>
	$(function () {
		CNZZ_SLOT_Async('383302','ad_index_2');
	});
	</script>
	<div id="ad_index_2"></div>
	{:W('Hot/lists')}
	
	<!-- 广告位：最新图集页面右侧 -->
	<script type="text/javascript">BAIDU_CLB_fillSlot("1096397");</script>

</div>
</block>
<block name="script">
<script src="__JS__/atlas.js"></script>
</block>