<extend name="Base/common" />
<block name="style">
<link type="text/css" rel="stylesheet" href="__CSS__/atals.css" />
</block>
<block name="header"> </block>

<block name="body">
<div class="span9">

	<div class="web_content_left">
		
		<volist name="atlas_list" id="atlas">
			<include file="Public/atlas-item"/>
		</volist>
	
		<div class="web_left pull-left test">
			<div class="white_border">
				<div class="user_info">
					<ul class="list-unstyled">
						<li style="height: 30px;"><img width="30px;" height="30px;"
							src="http://img.spriteapp.cn/profile/large/2015/04/11/552803e86bc3f_mini.jpg">
						</li>
						<li class="user_name">
							<p>Oh yes丶</p>
						</li>
						<li>
							<p class="time">发布于2015-04-27 10:06:02</p>
						</li>
					</ul>


				</div>

				<div class="web_conter clearfix">
					<div class="post-body">
						<p style="WORD-BREAK: break-all;" id="title-14006007"
							class="web_size">在两个“贝”中选一个你最喜欢的，你会毫不犹豫的选谁？</p>
						<p style="margin-top: 20px;">
							<a href="/detail-14006007.html" target="_blank"> <img
								alt="在两个“贝”中选一个你最喜欢的，你会毫不犹豫的选谁？" id="pic-14006007"
								src="http://ww4.sinaimg.cn/large/005OPYkojw1eriu3hljyxj30go0tndi1.jpg">
							</a>
						</p>
					</div>
					<div class="budejie_mutual clearfix">
						<ul class="pull-left interactive list-unstyled">
							<li><a class="dolove no_love" data-postid="14006007"
								data-userid=""> <span id="loveNum-14006007">263</span>
							</a></li>
							<li><a class="notlove no_cai" data-postid="14006007"
								data-userid=""> <span id="noloveNum-14006007">124</span>
							</a></li>
							<li style="height: 50px;"><a style="display: none;"
								class="bookmark" onclick="do_cancelBookmark('', '14006007')">
									<span id="bookmark-14006007">&nbsp;&nbsp;</span>
							</a> <a class="no_bookmark" onclick="do_bookmark('', '14006007')">
									<span id="no_bookmark-14006007">&nbsp;&nbsp;</span>
							</a></li>
						</ul>
						<ul class="pull-right list-unstyled">
							<li><a class="share-content"> <span id="repost-14006007">3</span>
							</a></li>
							<li style="margin-right: 0px;"><a class="comment_button"
								href="/detail-14006007.html" target="_blank"> <span>87</span>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="budejie_share" style="display: none;">
					<a onclick="share('weibo','14006007')" class="weibo">新浪微博</a> <a
						onclick="share('renren', '14006007')" class="renren">人人网</a> <a
						onclick="share('tqq', '14006007')" class="tqq">腾讯微博</a> <a
						onclick="share('qzone', '14006007')" class="qzone">QQ空间</a>
				</div>
			</div>
		</div>
		
		
		
	</div>

</div>
</block>

<block name="side"> <!-- 右侧 nav
================================================== -->
<div class="span3">Level 2</div>
</block>