<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="(.*)/?View/(.*)?.html$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^shop_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^shop$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/index" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url="^goods/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/goods/category_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url="^goods_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/goods/{R:1}" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="^goods$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/goods" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="^goods/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/goodsdetail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="^mygoods/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/mygoods/status/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="^mygoods_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/mygoods/{R:1}" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="^mygoods$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/shop/index/mygoods" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^event/([0-9]+)/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/index/type_id/{R:1}/page/{R:2}{R:3}" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^event/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/index/type_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^event/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/index/page/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^event_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 15" stopProcessing="true">
                    <match url="^event$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/index" />
                </rule>
                <rule name="已导入的规则 16" stopProcessing="true">
                    <match url="^myevent/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/myevent/type_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 17" stopProcessing="true">
                    <match url="^myevent_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/myevent/{R:1}" />
                </rule>
                <rule name="已导入的规则 18" stopProcessing="true">
                    <match url="^myevent$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/myevent" />
                </rule>
                <rule name="已导入的规则 19" stopProcessing="true">
                    <match url="^event/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/detail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 20" stopProcessing="true">
                    <match url="^event/member_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/member/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 21" stopProcessing="true">
                    <match url="^event/edit_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/edit/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 22" stopProcessing="true">
                    <match url="^event/add_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/add/{R:1}" />
                </rule>
                <rule name="已导入的规则 23" stopProcessing="true">
                    <match url="^event/add$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/event/index/add" />
                </rule>
                <rule name="已导入的规则 24" stopProcessing="true">
                    <match url="^issue/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/index/issue_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 25" stopProcessing="true">
                    <match url="^issue_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 26" stopProcessing="true">
                    <match url="^issue$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/index" />
                </rule>
                <rule name="已导入的规则 27" stopProcessing="true">
                    <match url="^issue/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/issuecontentdetail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 28" stopProcessing="true">
                    <match url="^issue/edit_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/edit/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 29" stopProcessing="true">
                    <match url="^issue/detail_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/issuecontentdetail/{R:1}" />
                </rule>
                <rule name="已导入的规则 30" stopProcessing="true">
                    <match url="^issue/edit_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/edit/{R:1}" />
                </rule>
                <rule name="已导入的规则 31" stopProcessing="true">
                    <match url="^issue/detail$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/issuecontentdetail" />
                </rule>
                <rule name="已导入的规则 32" stopProcessing="true">
                    <match url="^issue/edit$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/issue/index/edit" />
                </rule>
                <rule name="已导入的规则 33" stopProcessing="true">
                    <match url="^forum/([0-9]+)/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/forum/id/{R:1}/page/{R:2}{R:3}" />
                </rule>
                <rule name="已导入的规则 34" stopProcessing="true">
                    <match url="^forum/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/forum/page/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 35" stopProcessing="true">
                    <match url="^forum/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/forum/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 36" stopProcessing="true">
                    <match url="^forum_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/forum/{R:1}" />
                </rule>
                <rule name="已导入的规则 37" stopProcessing="true">
                    <match url="^forum$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/index" />
                </rule>
                <rule name="已导入的规则 38" stopProcessing="true">
                    <match url="^forum/edit_([0-9]+)/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/edit/forum_id/{R:1}/post_id/{R:2}{R:3}" />
                </rule>
                <rule name="已导入的规则 39" stopProcessing="true">
                    <match url="^forum/editp_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/edit/post_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 40" stopProcessing="true">
                    <match url="^forum/edit_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/edit/forum_id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 41" stopProcessing="true">
                    <match url="^forum/edit_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/edit/{R:1}" />
                </rule>
                <rule name="已导入的规则 42" stopProcessing="true">
                    <match url="^forum/edit$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/edit" />
                </rule>
                <rule name="已导入的规则 43" stopProcessing="true">
                    <match url="^forum/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/detail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 44" stopProcessing="true">
                    <match url="^forum/detail_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/detail/{R:1}" />
                </rule>
                <rule name="已导入的规则 45" stopProcessing="true">
                    <match url="^forum/detail$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/detail" />
                </rule>
                <rule name="已导入的规则 46" stopProcessing="true">
                    <match url="^forum/search_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/search/{R:1}" />
                </rule>
                <rule name="已导入的规则 47" stopProcessing="true">
                    <match url="^forum/search$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/forum/index/search" />
                </rule>
                <rule name="已导入的规则 48" stopProcessing="true">
                    <match url="^blog_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 49" stopProcessing="true">
                    <match url="^blog$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/index/index" />
                </rule>
                <rule name="已导入的规则 50" stopProcessing="true">
                    <match url="^blog/list_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/lists/category/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 51" stopProcessing="true">
                    <match url="^blog/list_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/lists/{R:1}" />
                </rule>
                <rule name="已导入的规则 52" stopProcessing="true">
                    <match url="^blog/list$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/lists" />
                </rule>
                <rule name="已导入的规则 53" stopProcessing="true">
                    <match url="^blog/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/detail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 54" stopProcessing="true">
                    <match url="^blog/detail_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/detail/{R:1}" />
                </rule>
                <rule name="已导入的规则 55" stopProcessing="true">
                    <match url="^blog/detail$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/blog/article/detail" />
                </rule>
                <rule name="已导入的规则 56" stopProcessing="true">
                    <match url="^weibo/p_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/index/page/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 57" stopProcessing="true">
                    <match url="^weibo_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 58" stopProcessing="true">
                    <match url="^weibo$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/index" />
                </rule>
                <rule name="已导入的规则 59" stopProcessing="true">
                    <match url="^weibo/detail_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/weibodetail/id/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 60" stopProcessing="true">
                    <match url="^weibo/detail_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/weibodetail/{R:1}" />
                </rule>
                <rule name="已导入的规则 61" stopProcessing="true">
                    <match url="^weibo/detail$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/weibodetail" />
                </rule>
                <rule name="已导入的规则 62" stopProcessing="true">
                    <match url="^weibo/concerned_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/myconcerned/{R:1}" />
                </rule>
                <rule name="已导入的规则 63" stopProcessing="true">
                    <match url="^weibo/concerned$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/myconcerned" />
                </rule>
                <rule name="已导入的规则 64" stopProcessing="true">
                    <match url="^weibo/search_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/search/{R:1}" />
                </rule>
                <rule name="已导入的规则 65" stopProcessing="true">
                    <match url="^weibo/search$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/weibo/index/search" />
                </rule>
                <rule name="已导入的规则 66" stopProcessing="true">
                    <match url="^ucenter/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 67" stopProcessing="true">
                    <match url="^ucenter_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 68" stopProcessing="true">
                    <match url="^ucenter$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/index" />
                </rule>
                <rule name="已导入的规则 69" stopProcessing="true">
                    <match url="^ucenter/following_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 70" stopProcessing="true">
                    <match url="^ucenter/following_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following/{R:1}" />
                </rule>
                <rule name="已导入的规则 71" stopProcessing="true">
                    <match url="^ucenter/following$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/following" />
                </rule>
                <rule name="已导入的规则 72" stopProcessing="true">
                    <match url="^ucenter/applist_([A-Za-z]+)/([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/type/{R:1}/uid/{R:2}{R:3}" />
                </rule>
                <rule name="已导入的规则 73" stopProcessing="true">
                    <match url="^ucenter/applist_([A-Za-z]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/type/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 74" stopProcessing="true">
                    <match url="^ucenter/applist_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 75" stopProcessing="true">
                    <match url="^ucenter/applist_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist/{R:1}" />
                </rule>
                <rule name="已导入的规则 76" stopProcessing="true">
                    <match url="^ucenter/applist$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/applist" />
                </rule>
                <rule name="已导入的规则 77" stopProcessing="true">
                    <match url="^ucenter/information_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 78" stopProcessing="true">
                    <match url="^ucenter/information_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information/{R:1}" />
                </rule>
                <rule name="已导入的规则 79" stopProcessing="true">
                    <match url="^ucenter/information$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/information" />
                </rule>
                <rule name="已导入的规则 80" stopProcessing="true">
                    <match url="^ucenter/fans_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 81" stopProcessing="true">
                    <match url="^ucenter/fans_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans/{R:1}" />
                </rule>
                <rule name="已导入的规则 82" stopProcessing="true">
                    <match url="^ucenter/fans$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/fans" />
                </rule>
                <rule name="已导入的规则 83" stopProcessing="true">
                    <match url="^ucenter/rank_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 84" stopProcessing="true">
                    <match url="^ucenter/rank_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank/{R:1}" />
                </rule>
                <rule name="已导入的规则 85" stopProcessing="true">
                    <match url="^ucenter/rank$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rank" />
                </rule>
                <rule name="已导入的规则 86" stopProcessing="true">
                    <match url="^ucenter/rankwait_([0_9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 87" stopProcessing="true">
                    <match url="^ucenter/rankwait_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait/{R:1}" />
                </rule>
                <rule name="已导入的规则 88" stopProcessing="true">
                    <match url="^ucenter/rankwait$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifywait" />
                </rule>
                <rule name="已导入的规则 89" stopProcessing="true">
                    <match url="^ucenter/rankfailure_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 90" stopProcessing="true">
                    <match url="^ucenter/rankfailure_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure/{R:1}" />
                </rule>
                <rule name="已导入的规则 91" stopProcessing="true">
                    <match url="^ucenter/rankfailure$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverifyfailure" />
                </rule>
                <rule name="已导入的规则 92" stopProcessing="true">
                    <match url="^ucenter/rankverify_([0-9]+)((/|.).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify/uid/{R:1}{R:2}" />
                </rule>
                <rule name="已导入的规则 93" stopProcessing="true">
                    <match url="^ucenter/rankverify_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify/{R:1}" />
                </rule>
                <rule name="已导入的规则 94" stopProcessing="true">
                    <match url="^ucenter/rankverify$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/index/rankverify" />
                </rule>
                <rule name="已导入的规则 95" stopProcessing="true">
                    <match url="^ucenter/conf_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 96" stopProcessing="true">
                    <match url="^ucenter/conf$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/config/index" />
                </rule>
                <rule name="已导入的规则 97" stopProcessing="true">
                    <match url="^ucenter/session_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/session/{R:1}" />
                </rule>
                <rule name="已导入的规则 98" stopProcessing="true">
                    <match url="^ucenter/session$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/session" />
                </rule>
                <rule name="已导入的规则 99" stopProcessing="true">
                    <match url="^ucenter/msg_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/message/{R:1}" />
                </rule>
                <rule name="已导入的规则 100" stopProcessing="true">
                    <match url="^ucenter/msg$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/message" />
                </rule>
                <rule name="已导入的规则 101" stopProcessing="true">
                    <match url="^ucenter/collection_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/collection/{R:1}" />
                </rule>
                <rule name="已导入的规则 102" stopProcessing="true">
                    <match url="^ucenter/collection$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/ucenter/message/collection" />
                </rule>
                <rule name="已导入的规则 103" stopProcessing="true">
                    <match url="^people/find_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/people/index/find/{R:1}" />
                </rule>
                <rule name="已导入的规则 104" stopProcessing="true">
                    <match url="^people/find$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/people/index/find" />
                </rule>
                <rule name="已导入的规则 105" stopProcessing="true">
                    <match url="^people_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/people/index/index/{R:1}" />
                </rule>
                <rule name="已导入的规则 106" stopProcessing="true">
                    <match url="^people$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/people/index/index" />
                </rule>
                <rule name="已导入的规则 107" stopProcessing="true">
                    <match url="^register_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/register/{R:1}" />
                </rule>
                <rule name="已导入的规则 108" stopProcessing="true">
                    <match url="^register$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/register" />
                </rule>
                <rule name="已导入的规则 109" stopProcessing="true">
                    <match url="^register/step2_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/step2/{R:1}" />
                </rule>
                <rule name="已导入的规则 110" stopProcessing="true">
                    <match url="^register/step2$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/step2" />
                </rule>
                <rule name="已导入的规则 111" stopProcessing="true">
                    <match url="^register/step3_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/step3/{R:1}" />
                </rule>
                <rule name="已导入的规则 112" stopProcessing="true">
                    <match url="^register/step3$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/step3" />
                </rule>
                <rule name="已导入的规则 113" stopProcessing="true">
                    <match url="^login_/(.*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/login/{R:1}" />
                </rule>
                <rule name="已导入的规则 114" stopProcessing="true">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/home/user/login" />
                </rule>
                <rule name="已导入的规则 115" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FiLENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
