<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="__PUBLIC__/Css/public.css" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<head>
</head>
<body>
<div class="navlist">
	<a href="{:U(GROUP_NAME.'/Attribute/index')}">属性列表</a>
	<a href="{:U(GROUP_NAME.'/Attribute/add')}" class="cur">属性增加</a>
</div>
	<form action="{:U(GROUP_NAME.'/Attribute/addRun')}" method="post">
		<table class="table">
			<tr>
				<th colspan="2">添加博文属性</th>
			</tr>
			<tr>
				<td align="right">属性名称：</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td align="right">标题颜色：</td>
				<td><input type="text" name="color"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存添加" class="submit"/></td>
			</tr>
		</table>
	</form>
</body>
</html>