<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('shop')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/weibo.css"/>
    <link rel="stylesheet" href="__CSS__/app.css"/>
    <link rel="stylesheet" href="__CSS__/issue.css"/>
</head>
<body>

<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1);"><span class="am-icon-chevron-left"></span></a>
    </div>
    <h1 class="am-header-title">
        商品详情
    </h1>

    <div class="am-header-right am-header-nav">

    </div>
</header>
<div id="demo-view" class="" data-backend-compiled="" style="z-index: 1040">
    <nav data-am-widget="menu" class="am-menu am-menu-offcanvas1 am-no-layout" data-am-menu-offcanvas=""><a
            href="javascript: void(0)" class="am-menu-toggle"><i class="am-menu-toggle-icon am-icon-bars"></i></a>

        <div class="am-offcanvas "
             style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                <div class="am-text-center">
                    <img class="avatar-img" style="width:64px;" src="Public/images/default_avatar_128_128.jpg">

                    <div class="am-text-center">
                        <a href="http://mob.com/index.php?s=/mob/weibo/index.html">李小龙</a>
                    </div>
                </div>


                <ul class="am-menu-nav am-avg-sm-1">
                    <li class=""><a href="{:U('weibo/index')}" class="">微博</a></li>
                    <li class=""><a href="{:U('issue/index')}" class="">专辑</a></li>
                    <li class=""><a href="{:U('blog/index')}" class="">资讯</a></li>
                    <li class=""><a href="{:U('forum/index')}" class="">论坛</a></li>
                    <li class=""><a href="{:U('group/index')}" class="">群组</a></li>
                    <li class=""><a href="{:U('event/index')}" class="">活动</a></li>
                    <li class=""><a href="##" class="">签到</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="goodsdetail-container ">
    <div class="am-tabs" id="doc-my-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
            <li class="am-active"><a href="">基本信息</a></li>
            <li><a href="">商品详情</a></li>
            <li><a href="">累计评论</a></li>
            <li><a href="">推荐</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active">
                <div class="goods">
                    <div class="">
                        <div class="am-text-center cover">
                            <img class="" src="Application/Mob/Static/test/5519323d2b61a.jpg">
                        </div>
                        <div class="am-text-center goods-name">
                            <h3>电动棒</h3>
                        </div>
                        <div class="am-text-center info">
                            <span>所需金币：5</span>
                            </br>
                            <span>库存：5</span>
                            </br>
                            <span>发布时间： 03月30日 15:59</span>
                            </br>
                            <span>更新时间： 03月30日 16:01</span>
                        </div>


                    </div>
                    <div class="spliter"></div>
                    <div class="am-text-center am-g">
                        <button type="button" class="am-btn am-btn-secondary am-round"><a href=""
                                                                                          style="padding:0 20px">兑换</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="am-tab-panel">
                <div class="am-text-center ">
                    <h5>商品详情</h5>
                    <ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-4">
                        <li><img class="" src="Application/Mob/Static/test/5519324d9458e.jpg"></li>
                        <li><img class="" src="Application/Mob/Static/test/5519323d2b61a.jpg"></li>
                        <li><img class="" src="Application/Mob/Static/test/551932437ef75.jpg"></li>
                        <li><img class="" src="Application/Mob/Static/test/551931edeecf0.jpg"></li>
                    </ul>




                </div>
            </div>
            <div class="am-tab-panel">
                <div class="comment-list" style="margin-top: 20px">

                    <php>for($i=1;$i<10;$i++){</php>
                    <div class="comment-item"
                         style="background-color: #ffffff;padding: 10px;margin-bottom: 5px;border: 1px solid #F2F2F2;">
                        <div class="am-g avatar-img">
                            <div class="am-u-sm-6 avatar">
                                <img class="avatar-img" style="width: 32px"
                                     src="Public/images/default_avatar_128_128.jpg">
                                <span><a href="##">爱德华</a></span>
                            </div>


                            <div class="am-u-sm-6 time" style="font-size: 13px;text-align: right">
                                5分钟前
                            </div>
                        </div>
                        <div class="am-g content" style="padding: 10px">
                            你™的在逗我~！~！~


                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2 am-text-center" style="float: right">
                                <a><i class="am-icon-trash" id="doc-confirm-toggle"></i></a>
                            </div>
                            <div class="am-u-sm-2 am-text-center">
                                <i class="am-icon-comment-o" id="doc-prompt-toggle"></i>
                            </div>
                        </div>
                    </div>
                    <php>}</php>
                    .
                    <div class="am-form-group" style="padding: 10px">
                        <h6>评论</h6>
                        <textarea class="" rows="5" id="doc-ta-1" style="height: 8em; width: 100%;"></textarea>

                        <p>
                            <button type="submit" class="am-btn am-btn-default am-round">提交</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-tab-panel">
                <ul class="am-g  shop-list am-avg-sm-2 am-avg-md-4 am-avg-lg-5" style="margin:0 auto">
                    <php>for($i=1;$i<10;$i++){</php>
                    <li class="shop-box ">
                        <div class="shop">
                            <div class="shop-info-box"style="width: 135px;border: dashed 1px #F2F2F2">
                                <div class="am-text-center cover">
                                    <a href="{:U('shop/goodsdetail')}">
                                        <img class="" style="width: 135px;height: 135px"
                                             src="Application/Mob/Static/test/5519323d2b61a.jpg"></a>
                                </div>
                                <div class="am-text-center goods-info am-g">
                                    <div class="goods-name am-u-sm-6" style="padding: 0px">
                                        <a href="{:U('shop/goodsdetail')}" class="goods-name" style="font-size: 13px">呆呆呆！</a>
                                    </div>
                                </div>
                                <div class="spliter "></div>
                                <div class="am-text-center stock-box am-g" style="padding:0px 10px">
                                    <div class="stock am-u-sm-6">
                                        <span style="font-size: 13px">库存:50</span>
                                    </div>
                                    <div class="money am-u-sm-6">
                                        <span><i class="am-icon-money"></i>5</span>
                                    </div>
                                </div>
                                <div class="spliter "></div>
                                <div class="am-text-center btn" style="margin: 5px 0px">
                                    <a href="{:U('shop/buy')}" class="am-btn-md diy-btn am-btn-primary am-radius"
                                       style="padding:3px 14px;font-size: 13px">+兑换</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <php>}</php>
                </ul>
            </div>
        </div>
    </div>


</div>


<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script>
    $(function () {
        $('#doc-my-tabs').tabs();
    })
</script>
</body>
</html>