<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:L('shop')} | {:modC('WEB_SITE_NAME','OpenSNS')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/shop.css"/>
    <link rel="stylesheet" href="__CSS__/app.css"/>

    <style>
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>


<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav">

        <a href="javascript:history.go(-1);"><span class="am-icon-chevron-left"></span></a>


        <a href="#phone-link" class="">
            <i class="am-header-icon am-icon-bell-o"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        商店
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="http://mob.com/index.php?s=/mob/issue/addissue.html" class="">
            <i class="am-header-icon am-icon-pencil"></i>
        </a>
        <a href="#nav-link" class="">
            <i class="am-menu-toggle-icon am-icon-bars"></i>
        </a>
    </div>
</header>
<div id="demo-view" class="" data-backend-compiled="" style="z-index: 1040">
    <nav data-am-widget="menu" class="am-menu am-menu-offcanvas1 am-no-layout" data-am-menu-offcanvas=""><a
            href="javascript: void(0)" class="am-menu-toggle"><i class="am-menu-toggle-icon am-icon-bars"></i></a>

        <div class="am-offcanvas "
             style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                <div class="am-text-center">
                    <img class="avatar-img" style="width:64px;" src="Public/images/default_avatar_128_128.jpg">

                    <div class="am-text-center">
                        <a href="http://mob.com/index.php?s=/mob/weibo/index.html">李小龙</a>
                    </div>
                </div>


                <ul class="am-menu-nav am-avg-sm-1">
                    <li class=""><a href="{:U('weibo/index')}" class="">微博</a></li>
                    <li class=""><a href="{:U('issue/index')}" class="">专辑</a></li>
                    <li class=""><a href="{:U('blog/index')}" class="">资讯</a></li>
                    <li class=""><a href="{:U('forum/index')}" class="">论坛</a></li>
                    <li class=""><a href="{:U('group/index')}" class="">群组</a></li>
                    <li class=""><a href="{:U('event/index')}" class="">活动</a></li>
                    <li class=""><a href="{:U('shop/index')}" class="">商城</a></li>
                    <li class=""><a href="{:U('store/index')}" class="">微店</a></li>
                    <li class=""><a href="##" class="">签到</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Uploads/picture/2015-03-30/5519323d2b61a.jpg-->
</div>

<div class="shop-container">
    <!--分类-->
    <ul class="shop-sort-btn am-avg-sm-2 am-g" style="text-align: center">
        <li class="">
            <a href="###" class="">
                最新商品
            </a>

        </li>

        <li class="">
            <a href="###" class="">
                最热商品
            </a>
        </li>
    </ul>
    <!-- 商品列表-->
    <ul class="am-g  shop-list am-avg-sm-2 am-avg-md-4 am-avg-lg-5" style="margin:0 auto">
        <php>for($i=1;$i<10;$i++){</php>
        <li class="shop-box ">
            <div class="shop">
                <div class="shop-info-box">
                    <div class="am-text-center cover">
                        <a href="{:U('shop/goodsdetail')}">
                            <img class="" style="width: 100%" src="Application/Mob/Static/test/5519323d2b61a.jpg"></a>
                    </div>
                    <div class="am-text-center goods-info am-g">
                        <div class="goods-name am-u-sm-6" style="padding: 0px">
                            <a href="{:U('shop/goodsdetail')}" class="goods-name" style="font-size: 13px">呆呆呆！</a>
                        </div>
                    </div>
                    <div class="spliter "></div>
                    <div class="am-text-center stock-box am-g" style="padding:0px 10px">
                        <div class="stock am-u-sm-6">
                            <span style="font-size: 13px">库存:50</span>
                        </div>
                        <div class="money am-u-sm-6">
                            <span><i class="am-icon-money"></i>5</span>
                        </div>
                    </div>
                    <div class="spliter "></div>
                    <div class="am-text-center btn" style="margin: 5px 0px">
                        <a href="{:U('shop/buy')}" class="am-btn-md diy-btn am-btn-primary am-radius"
                           style="padding:3px 14px;font-size: 13px">+兑换</a>
                    </div>
                </div>
            </div>
        </li>
        <php>}</php>
    </ul>
</div>


<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default"id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="###" class="">
                所有商品
            </a>
        </li>

        <li>
            <a href="###" class="">
                我的订单
            </a>
        </li>
    </ul>
</div>


<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>

</body>
</html>