<div class="row">
    <div class="col-md-3">
        <p>开发者：未认证 （<a href="{:U('verify')}">点我认证</a>）</p>
    </div>
    <div class="col-md-9">
        <div class="col-md-3">
            账户资料完整度：
        </div>
        <div class="col-md-6">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{$percent}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {$percent}%">
                <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>

    </div>
</div>