<extend name="Base/common"/>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
    <!--模板详情-->
    <div class="container templet">
        <ol class="breadcrumb">
            <li><a href="{:U('index/index')}">首页</a></li>
            <li><a href="{:U('my')}">开发者中心</a></li>
            <li class="active">控制面板</li>
        </ol>
        <include file="Admin/_info"/>
        <div class="col-md-2">

            <include file="_side"/>
        </div>


        <div class="col-md-10">

            <if condition="count($verifing) neq 0">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">审核中 （{:count($verifing)}）</div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>图标</th>
                                <th style="width: 200px;">名称</th>
                                <th>下载量</th>

                                <th>最后更新</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <volist name="verifing" id="vo">
                                <tr>
                                    <td class="cover">{$vo.cover|display_cover=60,60}</td>
                                    <td><a target="_blank" href="{:U('index/goodsDetail',array('id'=>$vo['id']))}">{$vo.title}</a>
                                    </td>
                                    <td>{$vo.total_download_count}</td>
                                    <td>{$vo.update_time|date='Y-m-d H:i',###}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a target="_blank" href="{:U('admin/addversion',array('id'=>$vo['id']))}"
                                               class="btn btn-success">更新</a>
                                            <a target="_blank" href="{:U('admin/add',array('id'=>$vo['id']))}"
                                               class="btn btn-info">编辑</a>
                                            <a class="btn btn-danger" disabled="disabled">删除</a>
                                        </div>
                                    </td>
                                </tr>

                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </if>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">销售中 （{$selling.count}）</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>图标</th>
                            <th style="width: 200px;">名称</th>
                            <th>下载量</th>
                            <th>最后更新</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="selling.data" id="vo">
                            <tr>
                                <td class="cover">{$vo.cover|display_cover=60,60}</td>
                                <td><a target="_blank" href="{:U('index/goodsDetail',array('id'=>$vo['id']))}">{$vo.title}</a>
                                </td>

                                <td>{$vo.total_download_count}</td>
                                <td>{$vo.update_time|date='Y-m-d H:i',###}</td>
                                <td>
                                    <div class="btn-group">
                                        <a target="_blank" href="{:U('admin/addversion',array('id'=>$vo['id']))}"
                                           class="btn btn-success">更新</a>
                                        <a target="_blank" href="{:U('admin/add',array('id'=>$vo['id']))}"
                                           class="btn btn-info">编辑</a>
                                        <a class="btn btn-danger" disabled="disabled">删除</a>
                                        <a class="btn btn-warning " disabled="disabled">下架</a>
                                    </div>
                                </td>


                            </tr>

                        </volist>
                    </table>
                    <div class="text-right" style="padding-right: 10px">{$selling.html}</div>
                </div>

            </div>

        </div>
    </div>
    <style>
        .cover {
            width: 60px;
            height: 60px;
            min-width: 60px;
        }
    </style>
</block>
