<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<include file="Public/_nav"/>
<!-- /头部 -->

<!-- 主体 -->
<div id="main-container" class="">
    <div id="" class="container ">
        <include file="Public/forum-header"/>
        <block name="body">
            <div class="">

                <volist name="types" id="t">
                    <div class="type-block common-block">
                        <div class="type-title ">
                            {$t.title}
                        </div>
                        <div class="common-block-body">
                            <div class="row">
                                <volist name="t.forums" id="f">
                                    <div class="col-xs-4">
                                        <div class="one_forum margin_bottom_10 clearfix">
                                            <div class="row forum_bg">
                                                <div class="col-xs-3">
                                                    <a href="{:U('forum/index/forum',array('id'=>$f['id']))}"><img
                                                            class="logo"
                                                            src="{$f.logo}"/></a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div>
                                                        <h3><a href="{:U('forum/index/forum',array('id'=>$f['id']))}"
                                                               class="">{$f.title}</a>
                                                        </h3>
                                                    </div>

                                                    <div>
                                                        <div class="admin text-more" style="width: 100%" title="{$f.description|default='O(∩_∩)O'}">{$f.description|default='O(∩_∩)O'}</div>
                                                    </div>
                                                    <div class=" body">
                                                        <div class="margin_bottom_10">
                                                            主题：<a
                                                                href="{:U('forum/index/forum',array('id'=>$f['id']))}">{$f.topic_count}</a>
                                                            &nbsp;&nbsp; 帖子：<a
                                                                href="{:U('forum/index/forum',array('id'=>$f['id']))}">{$f.total_count}</a>

                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </volist>
                            </div>

                        </div>
                    </div>

                </volist>

            </div>
        </block>


    </div>

</div>
<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    });
</script>
<!-- /主体 -->

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>




