li {
  list-style: none;
}
ul {
  padding-left: 0;
}
dl {
  margin-bottom: 0;
}
a {
  cursor: pointer;
}
/*reset*/
/* Remove margin padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
/* Default Font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#main-container,
.container {
  width: 1160px !important;
  max-width: 1160px !important;
  min-width: 1160px !important;
}
.all-sort-list {
  position: relative;
  width: 146px;
  border: 2px solid #A9CAF0;
  padding: 3px 3px 3px 0px;
  background: #FAFAFA;
}
.all-sort-list .item {
  height: 30px;
  border-top: 1px solid #FFFFFF;
}
.all-sort-list .item .bo {
  border-top: none;
}
.all-sort-list .item h3 {
  height: 28px;
  line-height: 28px;
  border: 1px 0px;
  font-size: 14px;
  font-weight: normal;
  width: 138px;
  overflow: hidden;
}
.all-sort-list .item span {
  padding: 0px 5px;
  color: #039775;
  font-family: "\5B8B\4F53";
}
.all-sort-list .item a {
  color: #000;
  text-decoration: none;
}
.all-sort-list .item a:hover {
  font-weight: bold;
  color: #A9CAF0;
}
.all-sort-list .hover h3 {
  position: relative;
  z-index: 13;
  background: #FFF;
  border-color: #DDD;
  border-width: 1px 0px;
  border-style: solid;
}
.all-sort-list .item-list {
  display: none;
  position: absolute;
  width: auto;
  min-height: 200px;
  _height: 200px;
  background: #FFF;
  left: 137px;
  box-shadow: 0px 0px 10px #DDDDDD;
  border: 1px solid #DDD;
  top: 3px;
  z-index: 10;
}
.all-sort-list .item-list .close {
  position: absolute;
  width: 26px;
  height: 26px;
  color: #FFFFFF;
  cursor: pointer;
  top: -1px;
  right: -26px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-family: "Microsoft Yahei";
  background: rgba(0, 0, 0, 0.6);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');
}
.all-sort-list .item-list .subitem {
  padding: 0px 4px 0px 8px;
}
.all-sort-list .item-list .subitem dl {
  border-top: 1px solid #EEE;
  padding: 6px 0px;
  overflow: hidden;
  zoom: 1;
}
.all-sort-list .item-list .subitem .fore1 {
  border-top: none;
}
.all-sort-list .item-list .subitem dt {
  line-height: 22px;
  text-align: center;
  padding: 3px 6px 0px 0px;
  color: #A9CAF0;
  font-weight: normal;
}
.all-sort-list .item-list .subitem dt a {
  color: #A9CAF0;
  font-weight: normal;
}
.all-sort-list .item-list .subitem dd {
  width: 100px;
  text-align: center;
  padding: 3px 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.all-sort-list .item-list .subitem dd em {
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 0px 8px;
  margin-top: 5px;
  border-left: 1px solid #CCC;
}
.all-sort-list .item-list .cat-right {
  float: right;
  width: 210px;
}
.all-sort-list .item-list .cat-right dl {
  width: 194px;
  padding: 6px 8px;
}
.all-sort-list .item-list .cat-right dd {
  padding-top: 6px;
  line-height: 22px;
  overflow: hidden;
  padding: 3px 0px 0px;
}
.all-sort-list .item-list .cat-right dd a:hover {
  color: #666;
}
.all-sort-list .item-list .cat-right dt {
  padding: 3px 6px 0px 0px;
  font-weight: 700;
  color: #A9CAF0;
}
.all-sort-list .item-list .subitem dd em a,
.all-sort-list .item-list .cat-right dd a {
  color: #666;
  text-decoration: none;
}
.all-sort-list .item-list .subitem dd em a:hover,
.all-sort-list .item-list .cat-right dd a:hover {
  font-weight: normal;
  text-decoration: underline;
}
/*侧边菜单*/
.content {
  margin-left: 0;
  height: auto;
}
.content > ul {
  list-style: none;
}
.content .menu-one > li {
  height: auto;
  overflow: hidden;
  border-top: 1px solid #93BDEF;
}
.content .menu-one > li.firstChild {
  border: 0;
}
.content .menu-one .header {
  height: 35px;
  background: #A9CAF0;
  line-height: 34px;
  text-indent: 15px;
  cursor: pointer;
}
.content .menu-one .header:hover,
.content .menu-one .menuOne-current {
  background: #4f8ad0;
}
.content .menu-one .header > span {
  display: block;
}
.content .menu-one .header .txt {
  float: left;
  color: #fff;
}
.content .menu-one .header .arrow {
  float: right;
  width: 35px;
  height: 35px;
  background: url(../images/arrow-d.png) no-repeat center center;
}
.content .menu-two {
  display: none;
  height: auto;
}
.content .menu-two li {
  height: 35px;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  line-height: 34px;
  text-indent: 40px;
}
.content .menu-two li.firstChild {
  border: 0;
}
.content .menu-two li a {
  display: block;
  color: #888;
}
.content .menu-two li:hover,
.content .menu-two li.menuTwo-current {
  background: #fff;
}
.content .menu-show .header {
  background: #75A9E5;
}
.content .menu-show .header .arrow {
  background-image: url(../images/arrow-u.png);
}
.store_det {
  overflow: hidden;
}
.store_det img {
  max-width: 750px;
}
.c_left_nav {
  background: white;
}
.c_left_nav a {
  display: block;
  padding-left: 10px;
  color: #333 !important;
  font-size: 16px;
  line-height: 34px;
}
.c_left_nav a:hover {
  text-decoration: underline !important;
}
.c_left_nav > div {
  margin-bottom: 10px;
  border: solid 1px #ccc;
}
.c_left_nav .cur {
  background: #F8F8F8;
  color: #000 !important;
}
.c_left_nav > div h2 {
  padding-left: 10px;
  margin-bottom: 0;
  background: #D4E7FF;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  line-height: 38px;
  color: #333;
}
.c_m_l_title {
  background: #f9f9f9;
  line-height: 34px;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}
.c_m_l_ul li {
  line-height: 20px;
}
.c_left_nav > div > ul > li > h3 {
  margin-bottom: 10px;
}
.c_left_nav li {
  line-height: 34px;
}
.c_board {
  border: solid 1px #ccc;
}
.c_hint {
  color: #3a87ad;
  background-color: #d9edf7;
  margin-right: 20px;
  padding: 8px;
  border: 1px solid #bce8f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: block;
}
.c_cat_ul li {
  padding: 0 20px 0 20px;
  line-height: 28px;
}
.c_cat_ul {
  background: white;
  font-size: 14px;
  float: left;
  width: 203px;
  border: 1px solid #e2e2e2;
}
.c_cat_ul a {
  color: #333;
  line-height: 35px;
}
.c_cat_ul .cat_li {
  background: #EEE;
}
.c_cat_ul .c_title {
  border-bottom: dashed #ccc 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.c_cat_ul dd a {
  margin-right: 20px;
  font-size: 12px;
  color: #666;
}
/*reset部分*/
body {
  back-ground: #ccc !important;
  font-family: "Microsoft Yahei";
}
/*导航栏信息提示气泡*/
#page-wrap #main-wrap {
  width: 1200px;
}
.nav_babble {
  position: relative;
  float: right;
  clear: right;
  margin-left: 3px;
}
.app-tab-menu .rec_left_m {
  background: rgba(255, 0, 0, 0.77);
  padding: 0 12px 0 12px;
  line-height: 16px;
  font-size: 16px;
  margin: 0;
  margin: 0 !important;
  color: #ffffff !important;
}
.app-tab-menu .rec_left {
  border-color: transparent rgba(255, 0, 0, 0.77) transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  width: 0;
  height: 0;
  position: absolute;
  left: -12px;
  top: 6px;
  line-height: 0;
  font-size: 0;
}
.st-index-main {
  min-height: 800px;
}
.st-index-right {
  min-height: 800px;
}
/*reset部分end*/
.cat_btn_post {
  background: url(../img/btn-w.png) no-repeat;
  width: 90px;
  line-height: 34px;
  display: block;
  text-align: center;
  color: #648B9D !important;
}
.cat_btn_post:hover {
  background: url(../img/btn-w-h.png) no-repeat;
}
.cat_ul_post li {
  float: left;
  margin: 12px;
}
.cat_ul_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 10px;
}
.boxInvite {
  background-color: #F2F8FB;
  padding: 10px;
  line-height: 20px;
  border-radius: 3px;
}
.boxInvite h3 {
  font-size: 14px;
}
.pic_size {
  max-width: 200px;
  max-height: 200px;
}
.hcblue:hover {
  color: blue;
}
.cpointer {
  cursor: pointer;
}
.lh14 {
  line-height: 14px;
}
.lh28 {
  line-height: 28px;
}
.lh16 {
  line-height: 16px;
}
.lh16 {
  line-height: 18px;
}
.f16px {
  font-size: 16px;
}
.f18px {
  font-size: 18px;
}
.f14px {
  font-size: 14px;
}
.bld {
  font-weight: bold;
}
.f12px {
  font-size: 12px;
}
.corange {
  color: orange;
}
.cblue {
  color: blue;
}
.cgreen {
  color: #008000 !important;
}
.cred {
  color: red;
}
.cgrey {
  color: #808080;
}
.cdeepskyblue {
  color: #00bfff;
}
.clgrey {
  color: #ccc;
}
.c999 {
  color: #999;
}
.c333 {
  color: #333;
}
.c666 {
  color: #666;
}
.bgwhite {
  background: #ffffff;
}
.underline {
  border-top: solid #ccc 1px;
  border-bottom: solid #ffffff 1px;
}
.pb10 {
  padding-bottom: 10px;
}
.pd10 {
  padding: 10px;
}
.pd5 {
  padding: 5px;
}
.br3 {
  border-radius: 3px;
}
.br5 {
  border-radius: 5px;
}
.pd20 {
  padding: 20px;
}
.pd30 {
  padding: 30px;
}
.p16 {
  width: 16px;
  height: 16px;
}
.mg10 {
  margin: 10px;
}
.mg20 {
  margin: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mg30 {
  margin: 30px;
}
h2 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 5px;
}
.p32 {
  width: 32px;
  height: 32px;
}
.ofh {
  overflow: hidden;
}
.w560px {
  width: 560px;
}
.w100px {
  width: 100px;
}
.w150px {
  width: 150px;
}
.w220px {
  width: 220px;
}
.w200px {
  width: 200px;
}
.w210px {
  width: 210px;
}
.w250px {
  width: 250px;
}
.w300px {
  width: 300px;
}
.dsblock {
  display: block;
}
.noflo {
  float: none !important;
}
.h250px {
  height: 250px;
}
.hidden {
  display: none;
}
.tcenter {
  text-align: center;
}
.tright {
  text-align: right;
}
/*yunme*/
.c_d_s_entitys {
  border: 1px solid #ccc;
}
.c_ul_s_entitys > li:hover {
  background: #ffffff;
}
.c_ul_s_entitys > li {
  line-height: 28px;
  font-size: 16px;
  background: #F6F6F6;
}
.c_ul_s_entitys a {
  padding: 10px;
  color: #666;
  cursor: pointer;
}
.c_d_s_infos {
  border: 1px solid #ccc;
  background: #F6F6F6;
}
.c_ul_s_infos {
  margin-bottom: -1px;
}
.c_ul_s_infos li {
  line-height: 28px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.c_ul_s_infos a {
  padding: 10px;
  color: #666;
  cursor: pointer;
}
.c_ul_s_infos a:hover {
  text-decoration: underline;
  color: #0061de;
}
.c_ul_s_active {
  background: #ffffff;
  background: #ffffff !important;
  color: #0061de;
}
.c_ul_s_active a {
  color: #0061de;
}
.c_ul_s_entitys a:hover {
  color: #0061de;
}
.cat_search_active a {
  color: #ffffff;
  background-color: #648B9D;
  padding: 2px;
}
.cat_search_text {
  padding: 2px;
}
/*收到信息*/
.c_ul_c_send_info li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
  font-size: 13px;
  line-height: 40px;
  padding-left: 40px;
}
.c_ul_c_send_info li:hover {
  background: #e2f6ff;
}
.c_ul_c_send_title {
  font-size: 16px;
  line-height: 50px;
}
.c_ul_c_send_nav .active {
  border-left: 2px solid #5F93D3;
  border-right: none;
  margin-left: -10px;
  background: #ffffff;
}
.c_ul_c_send_nav li {
  margin-right: -1px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  font-size: 16px;
  padding: 10px;
  background: #f8f8f8;
}
.c_ul_c_send_nav .splitter {
  padding: 1px;
}
/*收到信息end*/
/*yunme*/
/*
用户中心*/
.cat_m_entitys li {
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  border-right: dotted #999 1px;
}
.cat_m_entitys li a {
  color: #666;
  font-size: 14px;
}
.cat_triangle {
  border-color: orange transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  width: 0;
  height: 0;
  position: absolute;
  left: 40%;
  bottom: 0;
  line-height: 0;
  font-size: 0;
  bottom: -6px;
}
.c_u_m_active {
  background: #ffffff;
  color: #ffffff;
  font-weight: bold;
  border-top: 2px solid #FF6801;
}
.c_u_m_active a {
  color: #333 !important;
  line-height: 28px;
}
.cat_ul_my_nav li {
  position: relative;
  line-height: 28px;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 1px #ccc;
  background: #F6F6F6;
}
.cat_ul_my_nav a {
  color: #333;
  display: inline-block !important;
  padding: 0 10px 0 10px;
}
/**详情**/
.arrow_r {
  z-index: 99;
  position: absolute;
  top: 8px;
  right: 18px;
  overflow: hidden;
  width: 16px;
  background-position: 0px 0px;
  height: 11px;
  background: url(../images/layer_arrow.png) no-repeat -8px -6px;
}
.c_menu {
  display: none;
}
.tab_n_manage {
  float: right;
  float: right !important;
  display: inline-block;
  width: 100px;
  line-height: 28px;
  text-align: right;
  cursor: pointer;
}
.c_ddm {
  top: 2px;
  right: 32px;
  display: none;
  position: absolute;
}
.c_ddm li {
  padding: 3px;
  width: 30px;
  line-height: 16px;
  text-align: center;
  background: #ffffff;
  background: #ffffff !important;
  border: solid 1px #ccc;
  margin-top: -1px;
  cursor: pointer;
}
/**详情end**/
/*info*/
.c_last {
  font-size: 26px;
  font-weight: bold;
}
.c_tab li {
  float: left;
  font-size: 14px;
  line-height: 18px;
  width: 50px;
  padding: 5px;
  margin-bottom: -1px;
  margin-left: -1px;
  background: #F6F6F6;
  text-align: center;
  border: 1px solid #ccc;
}
.c_tab .c_active {
  background: white;
  margin-top: -4px;
  margin-bottom: -4px;
  line-height: 22px;
  border-bottom: none;
  border-top: 2px solid #FF6801;
}
.c_title h1 {
  font-size: 24px;
  margin-bottom: 8px;
}
.c_title h2 {
  line-height: 20px;
}
.hideRoll {
  padding: 10px;
  background: #F8F8F8;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #E3E3E3;
  margin-bottom: 0;
}
.hideBar {
  text-align: center;
  display: inline-block;
  background: #E3E3E3;
  padding: 4px 9px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  width: 71px;
}
.pic_size {
  width: 40px !important;
  height: 40px !important;
  padding: 1px;
  border: solid 1px #ccc;
  border-radius: 2px;
}
.cat_det {
  overflow: hidden;
  border: solid 1px #CCC;
  padding: 10px;
  margin-top: 10px;
  background-color: #FBFBFB;
}
.cat_det li {
  float: left;
  width: 270px;
  line-height: 28px;
  font-size: 14px;
}
.c_def_frm {
  min-height: 400px;
}
.c_def_dv {
  border-top: 1px solid #EDEEF0;
  border-bottom: 1px solid #EDEEF0;
  padding: 10px;
  margin-top: -1px;
}
.c_def_dv a:visited {
  color: grey;
}
.c_def_dv dd,
.c_def_dv dt {
  float: left;
}
.c_def_dv:hover {
  background: #F7F8FA;
}
/*收藏按钮*/
.cat_btn_fav {
  line-height: 28px;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: -6px;
}
/*收藏按钮end*/
.c_s_ul_goods li {
  float: left;
  margin-right: 20px;
}
.c_s_ul_goods .c_tt {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000000;
  width: 100%;
  padding-left: 10px;
  line-height: 20px;
  color: white;
  opacity: 0.6;
}
.c_btn_buy {
  border: none;
  background: #7ab80e;
  color: white;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
.c_btn_buy:hover {
  background: #83c60e;
  color: #f8f8f8;
  text-decoration: underline;
}
#loading {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  background: url(../img/loading.gif) no-repeat;
}
.quick_do {
  padding: 0px 10px;
  background: #c1c1c1;
  color: white;
  font-size: 14px;
  margin-bottom: 0;
}
.quick_do_panel {
  background: white;
  width: 199px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.quick_do_list li,
.count_list li {
  float: left;
}
.quick_do_list a,
.count_list a {
  display: inline-block;
  width: 99px;
  height: 90px;
  line-height: 28px;
  color: #666;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.count_list a {
  height: 70px;
  width: 99px;
}
.col-main {
  float: left;
  width: 100%;
  min-height: 1px;
}
.col-sub,
.col-extra {
  float: left;
}
.layout:after,
.main-wrap:after,
.col-sub:after,
.col-extra:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.layout,
.main-wrap,
.col-sub,
.col-extra {
  zoom: 1;
}
/* Common Features */
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
/* Remove Float */
.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* For non ie browsers also display the vertical scroll bar by default, to prevent the flicker caused by the scroll bar */
html {
  overflow-y: scroll;
}
/* Default link styles */
a:link,
a:visited {
  text-decoration: none;
}
/*左侧分类菜单*/
.menu {
  position: relative;
  width: 1210px;
  margin: 0px auto;
  height: 40px;
  background-color: #A9CAF0;
}
.menu div {
  position: absolute;
  top: 0px;
  height: 40px;
  font-family: "Microsoft Yahei";
}
.menu .all-sort {
  left: 0px;
  width: 210px;
  text-align: center;
  font-size: 14px;
}
.menu .all-sort a {
  color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.menu .ad {
  right: 0px;
  width: 141px;
}
.menu .nav {
  left: 210px;
}
.menu .nav ul li {
  float: left;
  width: 85px;
  line-height: 40px;
}
.menu .nav ul li a {
  display: block;
  width: 100%;
  color: #FFF;
  text-align: center;
  font: 700 15px/40px "Microsoft Yahei";
}
.menu .nav ul li a:hover,
.menu .nav ul li a.current {
  background: #039775;
  text-decoration: none;
}
.wrap {
  width: 1210px;
  margin: 0px auto;
}
.store_sub_menu {
  padding-left: 20px;
  padding-bottom: 10px;
}
.store_sub_menu li {
  margin-bottom: 10px;
  font-size: 14px;
}
.mb10 {
  margin-bottom: 10px;
}
/*shopcontroller*/
.c_s_nav {
  margin-left: 20px;
}
.c_s_nav li a {
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  line-height: 40px;
}
.c_s_nav li a:hover {
  text-decoration: underline;
}
.c_s_nav .cur a {
  border-bottom: 2px solid #75A9E5;
}
.c_s_nav_div {
  width: 100%;
  background: #ffffff;
  border-top: none;
  margin-bottom: 10px;
}
h2 {
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}
.store_det li {
  width: auto;
}
/**/
.contact {
  margin-top: 10px;
}
